/* Show Statuses for Atlas Reviewed Content */

body.icons-on {
    #content {
        a.state-atlas-archive:after,
        a.state-atlas-enhance:after,
        a.state-atlas-web-team-review:after,
        a.state-atlas-on-hold:after,
        a.state-atlas-feedback:after,
        a.state-atlas-pending:after,
        a.state-atlas-ready:after,
        a.state-atlas-imported:after,
        a.state-atlas-import-app:after,
        a.state-atlas-import-noop:after,
        a.state-atlas-import-webinar-recording:after,
        a.state-atlas-import-article:after,
        a.state-atlas-import-video:after,
        a.state-atlas-import-workshop-group:after,
        a.state-atlas-import-smart-sheet:after,
        a.state-atlas-import-curriculum:after,
        a.state-atlas-import-online-course:after,
        a.state-atlas-import-webinar:after,
        a.state-atlas-import-workshop:after,
        a.state-atlas-import-news-item:after,
        a.state-atlas-import-publication:after {
            background-color: $atlasBackgroundColor;
            color: #FFFFFF !important;
            display: inline-block;
            padding: 0.125em 0.5em;
            text-transform: uppercase;
            font-size: 0.75em;
            margin-left: 0.5em;
            font-weight: 600;
        }
        
        a.state-atlas-archive:after {
            content: "Atlas Archive";
        }
        
        a.state-atlas-enhance:after {
            content: "Atlas Enhance";
        }
        
        a.state-atlas-web-team-review:after {
            content: "Atlas Web Team Review";
        }

        a.state-atlas-on-hold:after {
            content: "Atlas Web Team On Hold";
        }
        
        a.state-atlas-feedback:after {
            content: "Atlas Feedback";
        }
        
        a.state-atlas-pending:after {
            content: "Atlas Pending";
        }
        
        a.state-atlas-ready:after {
            content: "Atlas Ready";
        }

        a.state-atlas-imported:after,
        a.state-atlas-import-app:after,
        a.state-atlas-import-noop:after,
        a.state-atlas-import-webinar-recording:after,
        a.state-atlas-import-article:after,
        a.state-atlas-import-video:after,
        a.state-atlas-import-workshop-group:after,
        a.state-atlas-import-smart-sheet:after,
        a.state-atlas-import-curriculum:after,
        a.state-atlas-import-online-course:after,
        a.state-atlas-import-webinar:after,
        a.state-atlas-import-workshop:after,
        a.state-atlas-import-news-item:after,
        a.state-atlas-import-publication:after {
            content: "Atlas Imported";
        }
        
    }
}

/* Add colors for Atlas states */

#plone-contentmenu-workflow, .atlas-workflow {
    .state-atlas-archive,
    .state-atlas-enhance,
    .state-atlas-web-team-review,
    .state-atlas-on-hold,
    .state-atlas-feedback,
    .state-atlas-pending,
    .state-atlas-ready,
    .state-atlas-imported,
    .state-atlas-import-app,
    .state-atlas-import-noop,
    .state-atlas-import-webinar-recording,
    .state-atlas-import-article,
    .state-atlas-import-video,
    .state-atlas-import-workshop-group,
    .state-atlas-import-smart-sheet,
    .state-atlas-import-curriculum,
    .state-atlas-import-online-course,
    .state-atlas-import-webinar,
    .state-atlas-import-workshop,
    .state-atlas-import-news-item,
    .state-atlas-import-publication {    
        background-color: $atlasBackgroundColor;
        border: 1px solid $atlasBackgroundColor;
        border-radius: 0.375em;
        padding: 0.125em 0.5em;
    }
}

#content {
    
    /* Workflow states in body */
    
    .atlas-workflow {
        span {
            font-size: 0.875em;
            font-weight: 600;
        }
        
        a {
            color: #333333 ;
            font-size: 0.875em;
            background-color: $globalBackgroundColor;
            display: inline-block;
            border: 1px solid $globalBorderColor;
            border-radius: 0.375em;
            padding: 0.125em 0.5em;
        }
        a:hover, a:focus {
            color: #FFFFFF;
            background-color: $atlasBackgroundColor;
            border: 1px solid $atlasBackgroundColor;
        }
    }

    /* Atlas Review Navigation */
    
    .atlas-review-nav {

        background-color: $globalBackgroundColor;
        margin-bottom: 1em;
        border: 1px solid $globalBorderColor;

        ul {

            font-size: 0.875em;
            margin-left: 0;
            display: block;
            
            li {
                display: inline-block;
                float: left;
                margin-bottom: 0;
                
                a {
                    border-bottom: none !important;
                    padding: 0.75em 0.675em;
                    margin: 0;
                    border-left: 1px solid $globalBorderColor;
                    display: block;
                    background-color: $globalBackgroundColor;
                }
        
                a:hover, a:focus {
                    text-decoration: underline;
                }
    
                a.selected {
                    background-color: $topnavigationBackgroundColor;
                    color: $topnavigationTextColor;
                }
            }
        
            li:first-child a {
                border-left: none;
            }
        }
    }
    
    /* Content tree */
    .atlas-content-tree {
        li {
            margin-top: 0;
            margin-bottom: 0;
            
            > div > div.description {
                font-size: 0.875em;
            }
        
            > div.atlas-item {
                padding: 0.5em 0 0.5em 1em;;
                border-left: 1px solid #F6F6F6;
            }
        }
        
        li:first-child {
            margin-top: 0.25em;
        }
    }
    
    > .atlas-content-tree > li {
    
        > div.atlas-item {
            padding-left: 0;
            border-left: none;
        }
    }
    
    form.atlas-filter {
        
        margin-bottom: 0.5em;
        
        label {
            font-size: 0.875em;
            line-height: 1;
        }
        
        select {
            margin: 0 0.5em;
            vertical-align: middle;
        }
    }
    
    .atlas-controls {
        border: 1px solid $globalBorderColor;
        padding: 1em;
        margin: 1em 0;
        
        h2 {
            margin-top: 0;
            font-size: 1em;
            border-bottom: none;
        }

    }

}

