/* 
    CSS for content in '#content' area
*/

@import 'social-media';
@import 'tables';
@import 'history';

/* Basic Heading style */

@mixin h2_style() {
    color: $documentHeadingColor;
    font-size: 1.625em;
    margin: 1.25em 0 0.5em 0;
    padding: 0 0 0.0625em 0;
    border: none;
    font-weight: 600;
    border-bottom: 1px solid $documentHeadingBorderColor;
    line-height: 1.5;
}

@mixin h3_style() {
    color: $documentSubHeadingColor;
    margin: 1.125em 0 0 0;
    padding: 0;
    border: none;
    font-weight: 600;
    font-family: $alternateHeadingFontFamily;
    font-size: 1.25em;
    line-height: 1.5;
}


/* = content ================================ */

/* Overriding new font silliness */

h1, h2, h3, h4, h5, h6 {
    font-family: $alternateHeadingFontFamily;
}

h1, h2 {
    letter-spacing: 0;
}

b, strong {
    font-weight: 600;
}

label {
    font-weight: 600;
}

#content {
    background-color: transparent;
    padding: 0 0 1.5em 0;
    margin: 0;
    width: 100%;
}

/* Paragraph and Unordered List readability per cmore */

#content {
    
    h1, h2, h3, h4, h5, h6 {
        a,
        a:link,
        a:hover {
            text-decoration: none;
            color: $globalFontColor;
            border-bottom: none;
        }
    }
    
    .documentText {
        ul {
            margin: 0.375em 0 1.125em 2.5em;
            list-style-image: url(bullet.png);
            list-style-type: square;
        }

        p {
            margin: 0.375em 0 1.125em 0;
        }

        dd {
            margin: 0 0 1.5em 0;
        }
        
        dt {
            font-weight: normal;
            margin: 0.375em 0 0.5em 0;
        }
    }
    
    .contentActions {
        
        border-bottom: 1px solid $contentViewBorderColor;
    
        a {
            padding: 0 0.5em;
        }
    
    }
    
    /* Removing because this breaks listings with icons */
    
    a.link-external,
    a.link-https {
        background-image: none;
        padding: 0;
    }

    a, a:link {
        color: $contentLinkColor;
        border-bottom: 1px solid $contentLinkBorderColor;
        text-decoration: none;
    }

    .contentLeadImageContainer {
        a,
        a:hover {
            border-bottom: none;
            cursor: zoom-in;
        }
    }

    h1.noBreadcrumbs {
        margin-top: 0.75em;
    }
    
    h1,
    h1.documentFirstHeading {
        color: $documentTitleColor;
        font-weight: normal;
        font-weight: 600;
        border: none;
        font-size: 2em;
        margin-bottom: 0.25em;
        line-height: 1.25;
    }

    h2, 
    html.kupu-html h2 {
        @include h2_style;
    }
    
    h3,
    html.kupu-html h3,
    h2.h3,
    .documentContributors h2 {
        @include h3_style;
    }

    h4,
    h5,
    html.kupu-html h4,
    html.kupu-html h5 {
        font-family: $alternateHeadingFontFamily;
        font-size: 1.125em;
        color: $globalFontColor;
        margin-top: 1em;
        line-height: 1.375;
    }
    
    h5, 
    html.kupu-html h5 {
        font-size: 1.0625em;
    }

    .documentDescription,
    #description {
        font-weight: normal;
        color: $documentDescriptionColor;
        font-size: 1.25em;
        margin: 0 0 1.5em;
        font-family: $fontFamily;
        line-height: 1.5;
    }
    
    .documentByLine {
        font-size: 0.75em;
    }

    /* For image captions */
    p.discreet {
        margin-bottom: 2em; 
        
        img {
            margin-top: 1em;
            display: block;
        }
    
        br {
            line-height: 0.25;
        }
    }
    
    .image-left, .image-right {
        border: none;
    }

    /* Restyle pull quote and callout */
    
    .pullquote,
    .callout {
        border-width: 1px 1em;
        border-style: solid;
        border-color: $pullQuoteBorderColor;
        padding: 1em $pullQuote_padding_percent;
        margin: 0 0 1em $pullQuote_padding_percent;
        color: $pullQuoteTextColor;
        background-color: $pullQuoteBackgroundColor;
        font-weight: normal;
        font-family: $fontFamily;
        font-size: 1.125em;
    }
    
    .pullquote {
        width: $pullQuote_width_percent;
        float: right;
        clear: right;
        border-width: 1px;
    }
    
    .callout {
        padding: 1em $pullQuote_padding_percent;
        margin-left: 2*$pullQuote_padding_percent;
        margin-right: 2*$pullQuote_padding_percent;
    }

    /* Plone Form gen */
    #pfg-fieldwrapper fieldset.PFGFieldsetWidget {
        border: none;
        padding: 0;
        
        legend {
            @include h2_style;
            display: block;
            width: 100%;
            margin-top: 0;
        }
        
        div.formHelp {
            margin-bottom: 1em;
        }
    }
 
    .eventDetails {
        margin-top: 1.5em;
        max-width: 250px;
        
        table.listing a {
            text-decoration: underline;
        }
    
    }

    /* Give a dt.no-description a bottom margin of 1em, since we're removing the dd if it doesn't have a description. */
    dt.no-description {
        margin-bottom: 1em;
    }
    
    .description {
        display: block;
        line-height: 1.375;
        margin-top: 0.125em;
        margin-bottom: 0;
        font-weight: normal;
        font-size: 0.9375em;
    }
    
    blockquote {
        border-left: none;
        padding-left: 2em;
        color: $globalFontColor;
    }
    
    
    .effectiveDate {
        margin-bottom: 0.6875em;
        margin-top: 0.125em;
        font-size: 0.875em;
        color: $rightPortletDiscreteTextColor;
        font-weight: normal;
    }

    /* Remove the Visual Highlight Style */
    .visualHighlight {
        background-color:transparent;
    }
    
    dd a {
        border-bottom: none;
    }
    
    q {
        font-family: $fontFamily;
        font-size: 0.6875em;
        font-style: normal;
    }

    h3.speaker-institution {
        margin: 0 0 1em;
    }

    /*###*/

}

/* CSS for presenting an h2 styled as an h3 */

body.custom-h2-as-h3 {
    #content {
        .documentText {
            h2 {
                @include h3_style;
            }
        }
    }
}

body.template-person_view #content h2,
body.template-by_county_listing.custom-two-column #content h2,
#pfg-fieldwrapper fieldset.PFGFieldsetWidget fieldset legend {
    @include h3_style;
}


/*
    For Plone 4.1.x (using Archetypes 1.7.14) where the CSS red square
    duplicates the hard-coded one.  This makes the font color for the hard-
    coded one transparent.
*/

div.field .formQuestion span.required {
    color: transparent !important;
}

/* File View Template Fixes */
body.template-file_view {
    #content {
        .documentContributors h2 {
            font-size: 1.607142857142857em;
        }

        h2.h3,
        .documentContributors h2 {
            margin-top: 1.25em;
        }
        
        h3 {
            font-weight: 600;
            font-family: $headingFontFamily;
        }
        
    }

    #disclaimer {
        margin-top: 1em;
        border: none;
    }
}

/* No underlining in content area */
#content u,
#content-text u,
#content-core u {
    text-decoration: none !important; /* ever! */
}

/* Disclaimer for factsheets */

#disclaimer {
   font-size: 0.875em;
   padding-top: 5px;
   margin-top: 5px;
   border-width: 1px 0 0 0;
   border-style: solid;
   border-color: $globalBorderColor;
}


#content .eventSummary {
    margin-bottom: 1.5em;

    div {
        padding: 0.2em 0;
    }

    a,
    a:hover {

        text-decoration: none;

        span {
            text-decoration: none;
            border-bottom: 1px solid $rightPortletHeaderBorderColor;
        }
    }

    a:hover span {
        border-bottom: 1px solid $contentLinkColor;
    }

    .event_add_calendar {
        a,
        a:hover {
            border-bottom: none;
        }
    
        a.img {
            padding-right: 0.375em;
            margin-left: 0.375em;
        }
    
    }
}

#content .eventSummary h3,
body.template-event_view #content .event-registration h3,
body.template-extension_course_event_view #content .event-registration h3,
#content h3.inline,
#content h2.inline {
    font-size: 1em;
    font-weight: 600;
    border-bottom-width: 0;
    display: inline;
}

#content .eventSummary h3:after,
body.template-event_view #content .event-registration h3:after,
body.template-extension_course_event_view #content .event-registration h3:after,
#content h3.inline:after {
    content: ":";
}

h2.flexslider-title,
#homepageimage .hiddenStructure,
#content .hiddenStructure,
.top-navigation .hiddenStructure,
#portal-column-one .hiddenStructure {
    margin: -1px 0 0 -1px !important;
    padding: 0 !important;
    position: absolute;
    margin-left: -10000px;
}


#content .eventDateLocation {
    line-height: 1.375;
}

#content .eventDateLocation.canceled,
table.events td.canceled span,
.portlet .canceled .date,
.portlet .canceled .location {
    text-decoration: line-through;
    color: $discreetColor !important;
}

#content .eventDateLocation.canceled h3 {
    color: $discreetColor !important;
}

#content .listingWarning,
.portlet .listingWarning {
    color: $globalFontColor;
    font-size: 0.9375em;
    font-variant: small-caps;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.portlet .listingWarning {
    font-size: 1em;
    margin: 0.375em 0;
}

#content table.events .listingWarning {
    font-size: 1em;
}

#content .contenttype-event .tileDescription p {
    margin-top: 0.5em;
}

#content .eventWebsite {
    margin-bottom: 1.5em;
    font-size: 1em;
}

/* .documentActions */

.documentActions {
    border-color: $globalBorderColor;
}

.discreet {
    color: $discreetColor;
}

/* Remove dashed underline from date abbr */

abbr.dtstart, abbr.dtend {
    border-bottom: 0;
}

dl.person-connect img {
    margin: 0 0.5em;
}

#content dl.person-connect dd {
    margin-left: 2.5em;
    margin-bottom: 0.5em;
}

.noClear {
    clear: none !important;
}

[align="justify"], .documentText [align="center"] {
    text-align: left !important;
}
