@import 'ie-warning';
@import 'editor-message';
@import 'multi-tag-selector';

/* = Edit UI =================================================== */

#portal-column-content .documentEditable {
    padding: 0;
    margin: 0 1em 1em;
    
    #content {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

/* Hide Short Name on all screens.  Will be unhidden on the Edit screen by JS */
#archetypes-fieldname-id {
    display: none;
}

/* Hide folder text from form folder for editing */
#formfolder-base-edit #archetypes-fieldname-folder_text {
    display: none;
}

/* Resolve different treatment of icons in Add New dropdown */

.actionMenu .actionMenuContent li {
    a {
        padding: 0;
        display: block;
        margin: 0.1em 0.25em;
    }

    a:hover, a:focus {
        background-color: $contentViewBorderColor;
    }
}

/* Personal Tools */

#portal-personaltools-wrapper {
    font-size: 0.75em;
    margin: 0 auto;
    max-width: $maxWidth;
    z-index: 25;
    background-color: $globalBackgroundColor;
    border: 1px solid $fieldBorderColor;
    
    .actionMenu.activated .actionMenuContent {
        z-index:25;
    }

}

#portal-personaltools {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    .actionMenuContent ul {
        padding-top: 0.25em;
        
        li {
            display: block;
            margin: 0.375em 0.125em;
        }
    }
}


body.icons-on #portal-header {
    padding-bottom: 1em;
}

#content dl.portalMessage {
    font-size: 0.75em;
}

#content  dl.portalMessageOneColumn {
    background-color: $notifyBackgroundColor;

    dt,
    dd {
        float: none;
        font-size: 1.25em;
        padding: 0.5em 0.75em;
    }

    dt {
        margin: 0;
        background-color: $notifyHeadingColor;
    }
    
    dd {
        margin: 0 0.25em;
        font-size: 1.125em;
    }

}



/* Fix the lineheight set to 2em */
.icons-on {
    #portal-column-one, 
    #portal-column-two, 
    #content {
        a[class *= 'contenttype-'],
        .contenttype-document,
        .contenttype-event,
        .contenttype-folder,
        .contenttype-link,
        .contenttype-news-item,
        .contenttype-plone-site,
        .contenttype-topic {
            display: block;
            line-height: 2;
        }
    }
    
    /* Folder Items table needs 2em */
    
    #content {
        #listing-table {
            a[class *= 'contenttype-'],
            .contenttype-document,
            .contenttype-event,
            .contenttype-folder,
            .contenttype-link,
            .contenttype-news-item,
            .contenttype-plone-site,
            .contenttype-topic {
                display: block;
            }
        }
    }
}

.icons-on #content #listing-table a {
    border-bottom: none;
}


#edit-bar {
    font-size: 0.6875em;
    margin-top: 1em;
}

#content-views a, 
#content li.formTab a, 
#content-core li.formTab a {
    padding: 0 0.5em;
    line-height: 2em;
}


/* For deleted events */

a.state-deleted {
    text-decoration: line-through;
}


/* plone.global_sections breaks @@manage-viewlets layout */

.viewletmanager dd #portal-globalnav {
    white-space: normal;
    font-size: 0.5em;
}

.viewletmanager dd, .viewlet dd {
    margin-left: 0;
}

body.template-manage-viewlets #content {
    padding: 0.25em;
}



/* Tiny MCE */

#content {
    .ploneSkin {
       
        .mceIframeContainer {
            border: 1px solid $fieldBorderColor;

            iframe {
                min-height: 500px;
            }
        }
        
        table.mceLayout {
            border-collapse: separate;

            td.mceToolbar {
                background-color: $globalBackgroundColor;
                border: 1px solid $fieldBorderColor;
                border-bottom-width: 0;
                padding: 8px 0;
            }

            td.mceStatusbar {
                background-color: $globalBackgroundColor;
                #text_resize {
                    border-color: $fieldBorderColor;
                }
            }
        }
    }
}

.fieldTextFormat {
    display: none;
}

#content .mceFirst a.text_style_text_text,
#content .mceFirst a#form.text_style_form.text_text,
#content .ploneSkin table.mceListBox .mceText {
    border: 1px solid $fieldBorderColor;
    background-color: $contentBackgroundColor;
    border-width: 1px 0 1px 1px;
}

#content .ploneSkin table.mceListBox .mceOpen {
    border-bottom: 1px solid $fieldBorderColor;
}

.ploneSkin .mceToolbar .mceButtonDisabled {
    display: none;
}

.ploneSkin.mceEditor .mceToolbar > div,
.ploneSkin .mceToolbar > div#text_toolbargroup,
.ploneSkin .mceToolbar > div#form.text_toolbargroup,
.ploneSkin .mceToolbar > div#mce_fullscreen_toolbargroup {
    width: 100%;
}

.icons-on #listing-table td {
}

/* Contents table */

#folderlisting-main-table table {
    width: 100%;
    font-size: 0.875em;
}

#content a#folder_text_resize {
    border-bottom: none;
}

/* Fieldsets */

fieldset, .editionComment {
    padding: 0 0.5em 1em 0.5em;
}

.field input[type="text"] {
    border: 1px solid $fieldBorderColor;
    font-size: 1em;
    padding: 0.125em;
    margin: 0.25em 0;
}

#content textarea,
.field input[type="text"][name$=".title"],
input#title {
    border: 1px solid $fieldBorderColor;
    padding: 2px $textEditBox_padding_percent;
    width: $textEditBox_width_percent;
}

#content .field input[type="text"][name$=".title"],
#archetypes-fieldname-title input {
    font-family: $fontFamily;
    letter-spacing: 0;
    font-weight: normal;
}

#content .field textarea[name$=".description"],
#archetypes-fieldname-description textarea#description {
    color: $fieldHelpColor;
}

.formHelp {
    font-size: 0.875em;
    color: $fieldHelpColor;
}

div.formControls {
    margin: 0.5em 0;
}

.pfg-form div.formControls input[type="submit"] {
    background: #458BDF; /* UI */
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: $contentBackgroundColor;
    font-size: 1em;
    padding: 0.25em 0.5em;
    margin: 0.125em 0;
    border: 2px solid #1f628d; /* UI */
    text-decoration: none;
    cursor: pointer;
}

.pfg-form div.formControls {
    input[type="submit"]:hover,
    input[type="submit"]:focus {
        background: #2C658F; /* UI */
        text-decoration: none;
        border-color: #337ACF; /* UI */
    }
}

input[type="submit"],
#folderlisting-main-table input[type="submit"] {
    border: 1px solid #333333;  /* UI */
    margin: 0.125em;
    cursor: pointer;
}


/* Hide byline on body.no-icons */

body.custom-no-icons {
    #plone-document-byline,
    .documentByLine {
        display: none;
    }
}

/* Unbold labels for checkboxes and radio buttons */

div.ArchetypesMultiSelectionValue label {
    font-weight: normal;
}

div.ArchetypesMultiSelectionValue,
div.ArchetypesSelectionWidget input,
div.ArchetypesSelectionWidget input.noborder {
    margin-left: 1em;
}

/* Sharing tab */

body.template-sharing {
    #portal-column-one,
    #portal-column-two,
    .contentLeadImageContainer {
            display: none;
    }

    #portal-column-content.sl,
    #portal-column-content.sr,
    #portal-column-content.sl.sr {
        width: 100%;
    }
    
    #user-group-sharing-container {
        font-size: 0.875em;
    }
}

html.kupu-html {
    font-size: 0.9375em !important;
    padding: 0 0.75em;
    background-color: $kupuBackgroundColor;
}

html {    
    body#content {
        margin: 0;
        padding: 0;
        width: auto;
        background-image: none;
        
        ul {
            margin: 0.375em 0 1.125em 2.5em;
        }
    }
}

.kupu-fulleditor, .kupu-toolboxes {
    border: 1px solid $fieldBorderColor;
}

#content ul.kupu-tabs li {
    display: inline;
}

div.kupu-tb, 
.kupu-tb#toolbar {
    border: none;
    background-color: #cde2a7;
    border-bottom: 1px solid #74ae0b;
    width: auto;
    
    .kupu-tb-buttons button {
        border-color: #cde2a7;
    }
}

div.kupu-drawer,
div div.kupu-panels,
.kupu-tb, 
ul.kupu-tabs li {
    background-color: #cde2a7;
}

.kupu-tb-buttons button {
    border: 1px solid #cde2a7;
}