#iewarning {
    border: 1px solid #F57900; /* UI */
    background-color: #FFFAB8; /* UI */
    padding: 8px;
    margin: 16px;

    img {
        margin: 8px;
        float: left;
    }
    
    h2, p {
        text-decoration: none;
        border: none;
        margin-left: 88px;
    }
}
