/* Portal-column-one Navigation */

.left-column-navigation {

    .portletHeader {
        background-color: transparent;
        color: $leftNavTitleColor;
        margin: 0;
        padding: 0;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: $globalBorderColor;
        text-transform: none;

        a {
            background-color: transparent;
            color: $leftNavTitleColor;
            padding: 0;
            margin: 0;
            font-family: $alternateHeadingFontFamily;
            font-weight: normal;
        }
    }

    .portletNavigationTree {

        .portletItem {

            .navTreeItem {
                
                margin: 0;
                
                a {
                    border-width: 0;
                    border: none;
                    background-color: transparent;
                    color: $leftNavTextColor;
                    line-height: 1.25;
                }

                a.state-published {
                    color: $leftNavTextColor;
                }
                
                a:hover,
                a.state-published:hover {
                    color: $leftNavTextHoverColor;
                    text-decoration: none;
                }

            }

            ul.navTreeLevel0 {
                margin: 0;
                
                > li {
                    border-top: 1px dashed $globalBorderColor;
                    padding: 0.45em 0 0.5em;
                    margin: 0;
                    
                    a {
                        padding: 0;
                        margin: 0;
                    }
                }
                > li:first-child {
                    border-top: none;
                }
                
                .navTreeItem {

                    border-bottom-width: 0;
                    padding: 0.5em 0;

                    .navTreeCurrentItem,
                    .navTreeCurrentNode,
                    .navTreeItemInPath {

                        border: none;
                        font-weight: 600;
                        background-color: transparent;
                        color: #000000;

                        > a, a.state-published {
                            font-weight: 600;
                            color: #000000;
                        }

                    }
                }

            }

            ul.navTreeLevel1 {
                background-color: $leftSubNavBackground;
                border: $leftNavBorderColor solid 1px;
                margin: 0.25em 0 0.75em 0.5em;
                padding: 0.375em 0.75em;
    
                li.navTreeItem {
                    background-color: transparent;
                    padding: 0 0 0.5em;
                    border-bottom-width: 0;

                    a {
                        padding: 0;
                        text-decoration: none;
                        background-color: transparent;
                        color: $leftNavTextColor;
                    }    
                }
                
                .navTreeCurrentItem {
                    background-color: transparent;
                }

            }
        }
    }
}