/* - Photo Album (Thumbnails) - */
$thumbnail_margin_percent: 100%*($column_padding/$content_column_width_full);
$thumbnail_width_percent: 100%*($content_column_width_full/$thumbnailColumns - 2*$column_padding)/$content_column_width_full;

#content {
    .photoAlbumEntry {
        background-image: none;
        margin: 0 $thumbnail_margin_percent;
        width: $thumbnail_width_percent;
        padding: 0;
        height: 16em;

        a {
            border: none;
            width: auto;

            img {
                cursor: zoom-in;
                max-width: 100%;
                margin-bottom: 0.375em;
                border: none;
                height: auto;
            }

            .photoAlbumEntryTitle {
                color: $contentLinkColor;
                width: auto;
            }
        }
    }
}

