/* ================= Portlet Styles =======================*/

.portletWrapper {

    background-color: transparent;
    border: none;
    margin: 0 0 2em;
    padding: 0;
    width: 100%;

    .portletHeader {
        background-color: transparent;
        border-color: $rightPortletHeaderBorderColor;
        border-style: solid;
        border-width: 0 0 1px 0;
        color: $rightPortletHeaderTextColor;
        font-family: $portletHeaderFontFamily;
        font-size: 1.25em;
        font-weight: normal;
        margin: 0 0 0.375em 0;
        padding: 0;
        text-align: left;
        text-transform: none;
        line-height: 1.25;

        a {
            margin: 0;
            text-decoration: none;
            border: none;
        }

        span,
        a,
        a:hover,
        a:focus {
            color: $rightPortletHeaderTextColor;
        }
    }

    .portlet {
        background-color: transparent;
        border-bottom: none;
        border: none;
        margin: 0;
        padding: 0;

    }

    .portletItem:first-child {
        border-width: 0 0 0 0;
    }

    .portletItem,
    .portletFooter,
    .portletError dd {
        background-color: transparent;
        border-width: 0;
        border: none;
        color: $rightPortletTextColor;
        display: block;
        margin: 0 0 1em 0;
        padding: 0;
    }

    .portletItem,
    .portletFooter {
        a,
        a:visited {
            border-width: 0;
            border: none;
            color: $rightPortletLinkColor;
            font-weight: normal;
            margin: 0;
            text-align: left;
            text-decoration: none;
        }

        a:hover, a:focus {
            color: $rightPortletLinkHoverColor;
            background-color: transparent;
        }
    }

    .portletItem {
        margin: 0.25em 0 1.125em 0;

        ul {
            margin: 0;
            padding: 0;
        }

        ul.indent {
            margin: 0 0 1em 1em;
        }

        li {
            list-style-image: none;
            list-style-type: none;
            margin: 0 0 0.25em;
            padding: 0.125em 0 0.125em 0.125em;
            color: $rightPortletTextColor;
            display: block;

            a {
                color: $rightPortletLinkColor;
                text-decoration: none;
                border: none;
                padding: 0;
            }
        }

        p {
            padding: 0;
            margin: 0 0 1em 0;
        }

        a:hover, a:focus {
            color: $rightPortletLinkHoverColor;
            background-color: transparent;
            text-decoration: underline;
            border-bottom: none;
        }

        a.title {
            font-weight: normal;
            margin-top: 0;
            border: none;
            display: block;
            line-height: 1.375;
        }

        a.title:hover,
        a.title:focus {
            text-decoration: underline;
        }

        .summary {
            color: $rightPortletSummaryColor;
            font-size: 0.875em;
            margin: 0.125em 0 0 0;
            font-weight: normal;
            text-align: left;
        }

        .portletItemDetails {
            color: $rightPortletDiscreteTextColor;
            font-size: 0.875em;
            font-weight: normal;
            text-align: left;
            margin-bottom: 0;
            border: none;
            box-shadow: none;
            width: auto;
            padding: 0;
            margin-left: 0;
        }

        .portletItemDetails.content {
            color: #575757;
            font-size: 1em;
            line-height: 1.4375;

            b,strong {
                font-weight: 600;
            }
   
            i, em {
                color: #333333;
                font-weight: normal;
                font-size: 0.875em;
                padding-top: 1em;
                display: inline-block;
            }
        }

    }

    a.more {
        display: block;
        font-size: 0.875em;
        margin: 5px;
        text-align: left;
        text-decoration: none;
        border: none;
    }

    .portletFooter {
        background-color: transparent;
        padding: 0;
        font-size: 0.75em;
        border: none;
        margin: 0.25em 0;
        text-align: left;

        a {
            margin: 0.5em 0 1em;
            display: block;
        }

        /* For the "More" link */
        .hiddenStructure {
            display: inline-block;
        }

    }

}

#content .portletWrapper {
    font-size: 1em;

    .portletHeader {
        color: $rightPortletHeaderTextColor;
        font-weight: normal;
        
        a {
            color: $rightPortletHeaderTextColor;
        }
    }

    .portlet {

        a,
        a:link,
        a:hover, a:focus {
            border-bottom: none;
        }

        a:hover, a:focus {
            text-decoration: underline;
        }

        .portletItem {
            a:visited {
                color: $contentLinkColor;
            }
        }
    }
}

/* Left Column Portlets */

#portal-column-one {
    .portletHeader,
    .portletHeader span,
    .portletHeader a,
    .portletHeader a:hover, 
    .portletHeader a:focus {
        color: $leftPortletHeaderTextColor;
    }
}


/* ================= Portlet Types =====================*/


/* Portlet */


/* ----------------- Static Text --------------------- */

.portletStaticText {
    .portletItem {
        padding: 0 0 0.75em 0;
        font-size: 0.90625em;
        margin: 0;

        div {
            margin: 0 0 0.75em 0;
        }

        h2,
        h3,
        h4 {
            border: none;
            font-size: 1.0625em;
            font-weight: 600;
            margin: 0.75em 0 0.25em;
        }

        h3 {
            border: none;
            font-size: 1em;
            font-weight: 600;
            margin-bottom: 0.25em;
            margin-top: 0.375em;
        }

        h4 {
            border: none;
            font-weight: 600;
            margin-bottom: 0.25em;
            margin-top: 0.375em;
        }

        p {
            margin: 0 0 0.375em 0;
        }

        img {
            width: 100%;
            display: block;
            margin-top: 0.9375em;
        }
        
        ul {
            margin-left: 0;
        }

    }
}

#content .portletStaticText ul {
    margin-left: 0;
}

/* Contact Portlet */

.portletContact {
    .portletItem {
        padding: 0;

        > p, 
        > div {
            font-size: 0.875em;
            line-height: 1.375em;
        }
        
        p, div {
            margin: 0 0 0.125em 0;
        }
        
        h3 {
            margin-top: 0.75em;
            font-weight: 600;
        }
    }

}


/* Feedmixer */

.portletfeedmixer {

    .even {
        background-color: transparent;
    }

    .portletItem {
        border-left-width: 0;
        border-right-width: 0;

        img {
            width: 100%;
            margin-bottom: 0.125em;
        }

        .date {
            font-weight: normal;
            color: $rightPortletDiscreteTextColor;
        }

        .summary {
            margin-top: 0.375em;
            color: $rightPortletSummaryColor;
            text-align: left;
        }

        .rssImage  {
            display: block;
            text-align: left;
            margin-top: 0.5em;

            img {
                max-width: 100%;
                width: 100%;
            }

            img.link {
                cursor: pointer;
            }
        }
        
        .portletItemDetails.content-summary {
            
            .rendering {

                em,
                .date {
                    font-size: 1em;
                    color: #575757;
                    display: inline;
                }
                
                h2.title {
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 0.125em;

                    a,
                    a:link,
                    a:hover {
                        font-size: 1.0625rem;
                        color: $rightPortletLinkColor !important;
                        border-bottom: 1px solid #DDDDDD !important;
                    }
                    
                    a:hover {
                        border-bottom: 1px solid $rightPortletLinkColor !important;
                        text-decoration: none !important;
                    }
                }
                
                p.type {
                    display: none;
                }
            }
        }
    }
}


/* Image portlet */

.imagePortlet {
    padding: 0.5em 0 1em 0;

    .portletItem  {
        margin: 0.5em 0 1em 0;

        a {
            display: block;
            text-align: center;
            text-decoration: none;
            color: $leftLinkTextColor;
            display: block;
            border-bottom: none;
        }

        a:hover, a:focus {
            text-decoration: underline;
            color: $leftLinkTextHoverColor;
        }

        a.icon {
            margin-bottom: 0.1875em;
        }

        img,
        span {
            display: block;
            margin: 0 auto;
            text-align: center;
            max-width: 100%;
        }

    }
}


/* LinkIcon Portlet */

.portletLinkIcon {

    margin: 0.75em 100%*(4px/$portlet_column_width) 1.5em;

    .portletItem {

        margin: 0.25em 0 0.5em 0.25em;
        padding: 0;
        background-color: transparent;
        min-height: 24px;

        /* Font Awesome fixes */
        
        .fa {
            color: $iconFontColor;
            font-size: 1.5em;
            vertical-align: middle;
            float: left;
            display: block;
        }
        
        .fa-fw {
            width: 1.375em;
        }
        
        a .fa:hover,
        a .fa:focus {
            text-decoration: none !important;
        }

        /* Per Icon styles, making smaller for non-square icons */
        .fa-group:before, 
        .fa-users:before,
        .fa-pencil-square-o:before,
        .fa-envelope-o:before, 
        .fa-youtube-play:before {
            font-size: 0.875em;
        }

    }

    a {
        text-decoration: none;
        color: $leftLinkTextColor;
        display: block;
        border: none;
    }

    a:hover, a:focus{
        span {
            text-decoration: underline;
            color: $leftLinkTextHoverColor;
        }
    }

    span {
        display: block;
        margin-left: 2.25em;
    }

    img {
        width: 24px;
        padding-right: 6px;
        color: $leftLinkTextHoverColor;
        margin: 0;
        vertical-align: middle;
    }

    .sprite a {
        /* background-image: url(linkicon-sprites.png); */
        background-repeat: no-repeat;
        min-height: 24px;
        display: block;

        span {
            margin-left: 30px;
            vertical-align: middle;
            display: block;
        }
    }

    /* Link Icons */
    /* http://spritegen.website-performance.org/ */
    .sprite-blogger a { background-position: -50px -50px; }
    .sprite-contact a { background-position: -50px -174px; }
    .sprite-directory a { background-position: -50px -298px; }
    .sprite-facebook a { background-position: -50px -422px; }
    .sprite-feed a { background-position: -50px -546px; }
    .sprite-flickr a { background-position: -50px -670px; }
    .sprite-google-plus a { background-position: -50px -794px; }
    .sprite-instagram a { background-position: -50px -918px; }
    .sprite-linkedin a { background-position: -50px -1042px; }
    .sprite-message a { background-position: -50px -1166px; }
    .sprite-pinterest a { background-position: -50px -1290px; }
    .sprite-podcast a { background-position: -50px -1414px; }
    .sprite-twitter a { background-position: -50px -1538px; }
    .sprite-typepad a { background-position: -50px -1662px; }
    .sprite-youtube a { background-position: -50px -1786px; }

}

/* Link Buttons */

.portletLinkButton {
    padding: 0;

    .portletItem {
        a,
        a:hover,
        a:focus,
        a:link,
        a:visited {
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            background-color: $leftButtonBackground_default;
            border-radius: 4px;
            border: 1px solid $leftButtonBorder_default;
            border-bottom: 1px solid $leftButtonBorder_default !important;
            color: $leftButtonTextColor_default;
            display: block;
            font-size: 0.875em;
            font-size: 0.875rem;
            font-weight: normal;
            list-style-image: none;
            list-style-type: none;
            margin: 0 0 1em 0;
            padding: 0.5em 5%;
            width: 90%;
            text-decoration: none;
        }

        a:focus {
            color: $leftNavTextHoverColor;
            text-decoration: underline;
        }

        img {
            width: 100%;
            display: block;
        }

    }

    .alternate {
        a,
        a:hover,
        a:focus,
        a:link,
        a:visited {
            border: 1px solid $leftButtonBorder_alternate;
            background-color: $leftButtonBackground_alternate;
            color: $leftButtonTextColor_alternate;
        }
    }
}

/* Person portlet */

.portletPerson {
    .portletItem {
        margin-bottom: 0.75em;
        display: block;
        color: $rightPortletSummaryColor;

        /* Person name */

        div.fn {
            border: none;
            border-bottom: none;
            font-size: 1em;
            font-weight: 600;
            margin: 0.125em 0 0.25em;
            line-height: 1.125;

            a,
            a:visited {
                color: $rightPortletLinkColor;
                font-weight: 600;
            }

            a:hover, a:focus {
                color: $rightPortletLinkHoverColor;
            }
        }

        /* Job Title */

        .title {
            margin-bottom: 1em;
            font-size: 0.875em;
            
            div {
                margin-bottom: 0.375em;
                line-height: 1.125;
            }
        }

        /* Address */

        .adr, .tel, .eml {
            font-size: 0.8125em;
            line-height: 1.25;
            margin-bottom: 1em;
        }

        .tel, .eml {
            margin-bottom: 0.25em;
        }

        /* Email */

        a.email,
        span.email a.email {
            display: inline;
        }

        /* Photo */

        img.photo {
            margin-top: 0.5em;
            display: block;
        }

        .imagelarge img.photo {
            max-width: 150px;
            height: auto;
        }

        .imagesmall img.photo {
            max-width: 75px;
            height: auto;
        }
    }
}

/* Right Column Fixes */


#content {
    #rightcolumn {

        /* Fix link button in right column of homepage */

        .portletLinkButton {
            a,
            a:link,
            a:hover,
            a:focus {
                text-decoration: none;
                color: $leftButtonTextColor_default;
                border-bottom: 1px solid $leftButtonBorder_default;
            }
        }

        /* Full image width in right column */
        
        .portletPerson .portletItem a.imagelarge img.photo {
            max-width: 100%;
        }
        
        .portletNavigationTree {
            ul.navTree {
                margin-left: 0;
            }
        }

    }
    
    /* Portlets inside content */

    .portletHeader {
        font-size: 1.25em;
        margin-top: 0;
    }

    .portletItem {
        margin-bottom: 0.875em;
    }
}


/* Collection portlet */

.portletCollection .portletItem {
    padding: 0;
    background-color: transparent;
}


/* Portlets */
#portal-column-one div.managedPortlet {
    padding: 0.5em;
}

/* Portlet manager buttons */


.managedPortletActions {
    margin-right: -1em;
    margin-left: 1em;

    > form {
        float: right;

        button {
            background-color: $globalBackgroundColor;
        }

    }
}

.portletAssignments {
    font-size: 0.6875em;
    padding: 0 0.5em;

    .managedPortlet {
        .portletHeader {
            background-color: transparent;
            border: 1px solid $rightPortletHeaderBorderColor;
            border-collapse: collapse;
        }
    }

    .blockedPortlet {
        div.portletHeader {
            background-color: $globalBackgroundColor;
        }
    }

}

#content .portletAssignments {
    font-size: 1em;
}

#portal-column-one .managePortletsLink {
    font-size: 0.5625em;
    font-size: 0.625rem;
}

.managePortletsLink, 
.managePortletsFallback {
    font-size: 0.875em;
    font-size: 0.625rem;
}

.portletDropdown select {
    margin-top: 0.5em;
    margin-bottom: 1em;
    width: 100%;
}


/* manage Custom Portlets */
#content {
    #rightcolumn, 
    #centercolumn {
        .customManagePortletsLink {
            display: block;
            text-align: center;
            padding-bottom: 0.25em;
        }
    }
}

.portlet ul.relatedItems li {
    margin-left: 2px;
}

