/* Two Column CSS */

#two-column-left, 
#two-column-right,
.two-column-left, 
.two-column-right {
    float: left;
    width: 50%*(($content_column_width_full - 4*$column_padding)/$content_column_width_full);
    margin-top: 1em;

    a {
        border-bottom: none;
        text-decoration: underline;
    }


    > tileItem:first-child {
        margin-top: 0;
        padding-top: 0;
    }


    > .tileItem {
        
        .tileHeadline {
            margin-bottom: 0;
            font-family: $headingFontFamily;

            a {
                text-decoration: none;
                font-family: $headingFontFamily;
            }
        }
        
        .no-description {
            margin: 0.5em 0 0 0;
            font-family: $headingFontFamily;
        }
        
        >.tileSubItem {
            margin: 0.25em 0 0.75em 0;
            
            .tileTitle {
                margin-top: 0em;
            }

        }
        
        > .tileDescription {
            margin-top: 0.25em;
        }
        
        > span.description {
            margin-top: 0;
            margin-bottom: 1.5em;
        }


    }
}

#two-column-left,
.two-column-left {
    padding-right: 100%*(2*$column_padding/$content_column_width_full);
}

#two-column-right,
.two-column-right {
    padding-left: 100%*(2*$column_padding/$content_column_width_full);
}

body.template-subfolder_view {
    #two-column-left, 
    #two-column-right,
    .two-column-left, 
    .two-column-right {
        font-size: 0.9375em;
        margin-top: 0;
    }
}

/* --- */

