$baseFont: Open Sans;

$fontFamily: $baseFont, Verdana, Arial, Helvetica, sans-serif;

$backgroundColor: #FFFFFF;

$contentLinkColor: #265FCF;
$contentLinkHoverColor: #003399;

$headingFontFamily: $baseFont, Verdana, Arial, Helvetica, sans-serif;

$portletHeaderFontFamily: $baseFont, Arial, Helvetica, Helv, sans-serif;
$alternateHeadingFontFamily: $baseFont, Lucida Grande,Tahoma,Verdana,sans-serif;

$contentViewBorderColor: #74AE0B;
$contentViewFontColor: #578308;

$notifyHeadingColor: #C74606;
$notifyBackgroundColor: #FFCE7B;

$discreetColor: #575757;

$globalFontColor: #000000;
$globalBorderColor: #E6E6E6;
$globalBackgroundColor: #F6F6F6;

$tableHeadingTextColor: #333333;
$tableHeadingBackgroundColor: #DDDDDD;
$tableBorderColor: #999999;
$tableEvenRowBackgroundColor: transparent;
$tableOddRowBackgroundColor: #F6F6F6;

$maxWidth: 1000px;

$siteHeaderBackgroundColor: #FFFFFF;

$subsiteHeaderBackgroundColor: #1F4B7B;
$subsiteHeaderTextColor: #FFFFFF;

$sectionTitleTextColor: #2F2F2F;
$sectionTitleBorder: #999999;

$breadcrumbTextColor: #333333;
$breadcrumbSeparatorColor: #715C3C;
$breadcrumbLinkColor: #1B5597;

$topnavigationBackgroundColor: #1F4B7B;
$topnavigationBackgroundHoverColor: #1E407C;
$topnavigationBorderColor: #45779F;
$topnavigationTextColor: #F6F6F6;
$topnavigationTextHoverColor: #FFFDF1;

$topnavigationAlternateBackgroundColor: #0075BD;
$topnavigationAlternateTextColor: #FFFFFF;

/* ------------------------------------------------ */

$departmentTopnavigationBackgroundColor: #45709F;
$departmentTopnavigationBackgroundHoverColor: #2C5C8F;
$departmentTopnavigationBorderColor: #375A7F;
$departmentTopnavigationTextColor: #FFFFFF;
$departmentTopnavigationTextHoverColor: #FFFDF1;

$departmentTopnavigationAlternateBackgroundColor: #4C5E6F;
$departmentTopnavigationAlternateTextColor: #FFFFFF;

/* ------------------------------------------------ */

$topnavigationMobileHeaderBackgroundColor: #1E2D4C;

$bodyBackgroundColor: #DDDDDD;
$contentBackgroundColor: #FFFFFF;
$contentLinkBorderColor: #DDDDDD;

$rightPortletHeaderTextColor: #AC5209;
$rightPortletLinkColor: #2256BD;
$rightPortletLinkHoverColor: #003FAC;
$rightPortletTextColor: #3F3F3F;
$rightPortletHeaderBorderColor: #DDDDDD;
$rightPortletDiscreteTextColor: #767676;
$rightPortletSummaryColor: #4B4B4B;

$leftPortletHeaderTextColor: #4B4B4B;
$leftNavTitleColor: #1E2D4C;
$leftNavBorderColor: #DDDDDD;
$leftNavTextColor: #4D4D4D;
$leftNavTextHoverColor: #003FAC;

$leftSubNavBackground: #F9F9F9;

$leftButtonBackground_alternate: #AC5209;
$leftButtonBorder_alternate: #3F1E04;
$leftButtonTextColor_alternate: #FFFFFF;

$leftButtonBackground_default: #EFEFEF;
$leftButtonBorder_default: #333333;
$leftButtonTextColor_default: #333333;

$leftLinkTextColor: #2256BD;
$leftLinkTextHoverColor: #003FAC;

$documentDescriptionColor: #2F2F2F;
$documentTitleColor: #000000;
$documentHeadingColor: #000000;
$documentHeadingBorderColor: #DDDDDD;
$documentSubHeadingColor: #000000;

$pullQuoteTextColor: #4A4A4A;
$pullQuoteBorderColor: #DFB97D;
$pullQuoteBackgroundColor: #FFFBEF;

$footerBackgroundColor: #13233C;
$footerLinkColor: #9ACDFF;
$footerTextColor: #D1E2EF;

$sitemapBackgroundColor: #1B1D1F;
$sitemapHeaderColor: #FFFFFF;
$sitemapLinkColor: #e0e0e0;

$kupuBackgroundColor: #fffff9;

$statePrivateColor: #FF0000;
$statePendingColor: #FFA500;

$fieldRequiredColor: #FF0000;
$fieldHelpColor: #333333;
$fieldBorderColor: #999999;

$iconFontColor: #1f4b7b;