#playlist-box-wrapper {
    width: 100%;
    margin: 0 auto;
    
    #now-playing {
        background-color: #2F2E33;
        color: #FFFFFF;
        padding: 1em 0;
        position: relative;
        text-align: center;
    	  font-size: 0.875em;
        
        a {
            color: #FFFFFF;
            position: absolute;
            width: 12.5%;
            border-bottom: none;
        }
        
        a:hover {
        	color: #bed7e8;
        }
        
        a.prev {
            left: 2.5%;
            text-align: left;
        }
        
        a.next {
            right: 2.5%;
            text-align: right;
        }

        a.prev:before,
        a.next:after {
            background-image: url("video_sprite.png");
            background-color: transparent;
        	content: "";
        	display: inline-block;
        	height: 24px;
        	top: -2px;
        	vertical-align: middle;
        	width: 16px;
        	position: relative;
        }

        .prev:before {
            background-position: -73px -504px;
        	margin-right: 7px;
        }
        
        .next:after {
            background-position: -96px -504px;
        	margin-left: 7px;
        }

        .prev:hover:before {
            background-position: -73px -536px;
        	color: #96EDFF;
        }
        
        .next:hover:after {
            background-position: -96px -535px;
        	color: #96EDFF;
        }
        
        div {
            display: inline-block;
            margin: 0 15%;
        }
    }
}

.player-buttons {

    a {
        font-size: 0.875em;
        cursor: pointer;
        border-bottom: none !important;
    }

    a.button:before {
    	content: "";
    	cursor: pointer;
    	display: inline-block;
    	height: 30px;
    	margin-right: 8px;
    	vertical-align: middle;
    	width: 29px;
    	background-image: url("video_sprite.png");
    	background-color: transparent;
    	color: #0196E7 !important;    	
    }

    a.play-button:before {
    	background-position: -57px -119px;
    }

    a.play-button:hover:before {
        background-position: -57px -152px;
    }

    a.resume-button:before {
        background-position: -121px -119px;
    }

    a.pause-button:before {
        background-position: -90px -119px;
    }
    
}

.player-buttons.active {
    a.play-button:before {
        background-position: -57px -152px;
    	color: #0196E7 !important;
    }
}

#playlist-box {
    
    margin-top: 1em;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-spacing: 0;
    
    th {
        text-align: center;
        padding: 0.25em 2.5%;
        background-color: #DDDDDD;
        font-weight: 600;
    }
    
    th:first-child {
        text-align: left;
    }
    
    .playlist-row:nth-child(even) {
    	background-color: #F5F5F5;
    }
    
    .playlist-row {
        width: 100%;
        
        .videoTitle, 
        .videoTime, 
        .player-buttons {
            height: 2em;
            width: 15%;
            padding: 0.75em 2.5%;
            vertical-align: middle;
            text-align: left;
        }
        
        .videoTitle {
            width: 55%;
            font-size: 1em;
            padding: 0;
            
            a {
                padding: 0.75em 2.5%;                
                display: block;
                width: 100%;
                cursor: pointer;
                border-bottom: none;
                
                span {
                    border-bottom: 1px solid $contentLinkBorderColor;
                }
            }
        }
        
        .videoTime {
            text-align: center;
        }
    }
    
    .playlist-row:hover {
    	background-color: #E3EEF5
    }
}