// Palette URL: http://paletton.com/#uid=13x0u0kDexbm4FHsfDeF2pDJ1j+ */

$color-primary-0: #0862A7;	// Main Primary color */
$player-button-color: #AAAAAA;
$player-button-color-active: #0862A7;
$player-button-hover-color: #458CC2;
$prev-next-hover-color: #5CB9FF;
$color-primary-4: #043C66;
$now-playing-background-color: #2F2E33;

#playlist-box-wrapper {
    width: 100%;
    margin: 0 auto;
    
    #now-playing {
        background-color: $now-playing-background-color;
        color: #FFFFFF;
        padding: 1em 0;
        position: relative;
        text-align: center;
    	font-size: 0.875em;
        
        a {
            color: #FFFFFF;
            position: absolute;
            width: 12.5%;
            border-bottom: none;
            cursor: pointer;
            top: 0.5em;

            .fa {
                font-size: 2.5em;
                font-weight: bold;
                vertical-align: middle;
            }
            
            span {
                vertical-align: middle;
            }
        }
        
        a:hover, a:focus {
        	color: $prev-next-hover-color;
        }
        
        a.prev {
            left: 2.5%;
            text-align: left;
            
            .fa {
                margin: 0 5% 0 0;
            }
        }
        
        a.next {
            right: 2.5%;
            text-align: right;

            .fa {
                margin: 0 0 0 5%;
            }
            
        }

        div {
            display: inline-block;
            margin: 0 15%;
            vertical-align: middle;
        }
    }
}

.player-buttons {

    text-align: center;
    padding: 0.5em 2.5%;

    a {
        font-size: 0.875em;
        cursor: pointer;
        border-bottom: none !important;
        text-align: center;

        .fa {
        	color: $player-button-color !important;
        	vertical-align: middle;
        }
        
        div {
        	vertical-align: middle;
        	text-align: center;
        }
    }
    
    a:hover, a:focus {
        
        .fa {
            color: $player-button-hover-color !important;
        }
    }
}

.player-buttons.active {
    a {
        .fa {
        	color: $player-button-color-active !important;
        }
    }
}

#playlist-box {
    
    margin-top: 1em;
    width: 100%;
    border: 1px solid $tableBorderColor;
    border-spacing: 0;
    
    th {
        text-align: center;
        padding: 0.25em 1.5%;
        background-color: $tableHeadingBackgroundColor;
        font-weight: 600;
        color: $tableHeadingTextColor;
    }
    
    th:first-child {
        text-align: left;
    }
    
    .playlist-row:nth-child(even) {
    	background-color: $tableEvenRowBackgroundColor;
    }

    .playlist-row:nth-child(odd) {
    	background-color: $tableOddRowBackgroundColor;
    }
    
    .playlist-row {
        width: 100%;
        
        border-top: 1px solid $tableBorderColor;
        
        .videoTitle, 
        .videoTime, 
        .player-buttons {
            height: 2em;
            width: 15%;
            padding: 0.75em 2.5%;
            vertical-align: middle;
            text-align: left;
        }
        
        .videoTitle {
            width: 55%;
            font-size: 1em;
            padding: 0;
            
            a {
                padding: 0.75em 2.5%;                
                display: block;
                width: 100%;
                cursor: pointer;
                border-bottom: none;
                
                span {
                    border-bottom: 1px solid $contentLinkBorderColor;
                }
            }
            
            a:hover, a:focus {
                color: $contentLinkHoverColor;
                
                span {
                    border-bottom-color: $contentLinkHoverColor;
                }
            }
        }
        
        .videoTime {
            text-align: center;
        }
    }
    
}