/*
    Main agCommon styles
*/

@import 'variables';
@import 'layout';

/* CSS for components of site */

@import 'header';
@import 'breadcrumbs';
@import 'section';
@import 'columns';
@import 'tile-items';
@import 'tile-folder';
@import 'subfolder';
@import 'two-column';
@import 'portlets';
@import 'left-navigation';
@import 'content';
@import 'toc';
@import 'local-search';
@import 'lead-image';
@import 'photo-album';
@import 'next-previous';
@import 'related-items';
@import 'contributors';
@import 'footer';

@import 'edit';

/* PloneFormGen Fields */
.template-fg_base_view_p3 textarea {
    width: 100%;
}

/* Removing avatar from quintasgroup comments */

div.comment img.avatar {
    display: none;
}

/* = Template workarounds ======================================= */

body.popup, body.atrefbrowser {
    background-color: $backgroundColor;
}

body.template-news_listing #content dd {
    margin: 0 0 2em 0;
    padding-bottom: 0;
}

body.template-news_listing #content dt {
    margin: 0;
}

body.template-news_listing #portal-column-two dd {
    margin-bottom: 0;
}

body.template-newsitem_view .effectiveDate {
    color: $rightPortletDiscreteTextColor;
    font-size: 0.8125em;
    margin-bottom: 1em;
    margin-top: 0;
}

body.template-atct_album_view .contentLeadImageContainer,
body.template-responsive_photogallery .contentLeadImageContainer,
body.portaltype-photofolder .contentLeadImageContainer {
    display: none;
}

#portlet-prefs {
    float: left;
    width: 187px;
    font-size: 0.75em;
    margin: 1em 0.5em;
}

#portlet-prefs ul.configlets li {
    margin-bottom: 0.75em;
}


/* overlaycontent font size is too large */

div.overlay-iframe, div.overlay-ajax {
    top: 0.25em !important;
}

.pb-ajax .overlaycontent {
    font-size: 0.75em !important;
}

/* agendaLinks anchors for agenda view */

body.template-agenda_view #content .agendaLinks ul {
    margin-left: 0.75em;
    padding: 0;
}

body.template-agenda_view #content .agendaLinks ul li {
    padding: 0;
    margin: 0.5em 0;
    list-style-type: none;
    list-style-image: none;
}

body.template-agenda_view #document-toc,
body.template-agenda_view #portal-column-content.sr #document-toc {
    width: 24%;
}

body.template-agenda_view #document-toc h3 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
    color: $leftPortletHeaderTextColor;
}

#printheader {
    display: none;
}


/* Search screen */

body.template-search #portal-breadcrumbs,
body.template-search_z3 #portal-breadcrumbs {
    display: none;
}

body.template-search #portal-columns,
body.template-search_z3 #portal-columns,
body.template-search #portal-column-content,
body.template-search_z3 #portal-column-content {
    display: block;
}

body.template-search #content,
body.template-search_z3 #content {
    padding-top: 2em;
}

body.template-search form.searchPage input,
body.template-search_z3 form.searchPage input {
    font-size: 1em;
}

/* Form Thanks Page */

body.template-fg_thankspage_view_p3 #content blockquote dt,
body.template-fg_register_thankspage_view_p3 #content .callout dt {
    font-weight: bold;
    color: $globalFontColor;
}

body.template-fg_thankspage_view_p3 #content blockquote dd,
body.template-fg_register_thankspage_view_p3 #content .callout dd {
    margin-bottom: 0.75em;
    color: $globalFontColor;
    font-weight: normal;
}

/* Folder Full View */

body.template-folder_full_view #content-core .item {
    border: none;
}

#content h2.headline {
    margin-top: 0.875em;
}

body.template-folder_full_view #content .documentText .documentDescription {
    margin-bottom: 0.5em;
}

body.template-folder_full_view #content .documentText h3 {
    margin-top: 0.875em;
}

#content h2.headline a {
    color: $contentLinkColor !important;
    border-bottom: none;
}

#content .documentText p:first-child {
    margin-top: 0;
}

.pfg-form span.required, form span.required {
    color: $fieldRequiredColor;
}

#lock-icon {
    margin-top: 0.75em;
}

#folderlisting-main-table td.draggable {
    padding: 0 0.75em;
    text-align: center;
    vertical-align: middle;
}

#folderlisting-main-table td.notDraggable {
    text-align: center;
    vertical-align: middle;
}

body.template-by_county_summary_view #content .tileItemLeadImage,
body.template-by_county_summary_view #content .tileSummaryLeadImage {
    border-top: none !important;
}
form.searchPage {
    text-align: left;
    margin: 0.75em 0;
}

.searchResults {
    border-top: 1px solid $globalBorderColor;
    margin-top: 1.25em;
    padding-top: 0.75em;
}

.searchResults dd {
    margin: 0 0 2.5em 0;
}

#content .portletFooter a:hover {
    border: none;
    text-decoration: underline;
}

body.template-default_error_message {
    background-image: none;
}

body.template-default_error_message #visual-portal-wrapper {
    margin: 0 auto;
}

body.template-default_error_message #visual-portal-wrapper #portal-header {
    padding: 0 0 1.25em;
}

body.template-default_error_message #visual-portal-wrapper #portal-top {
    padding-top: 0.25em;
}

body.template-default_error_message #visual-portal-wrapper dt {
    margin-top: 1em;
}

body.template-default_error_message #portal-breadcrumbs {
    display: none;
}

body.template-default_error_message #portal-columns {
    margin-top: 1em;
}

body.template-default_error_message #content {
    margin-top: 1em;
}

.portletWrapper .portletTwitter .portletItem {
    padding: 0;
}

.portletWrapper .portletTwitter .portletItem iframe {
    width: 100%;
}

/* Hide controls on criteria folder listing so fas*t-fingered editors don't
   delete items when they intend on removing them from the collection results */
body.portaltype-topic #folderlisting-main-table td.notDraggable,
body.portaltype-topic #folderlisting-main-table #foldercontents-select-column,
body.portaltype-topic #folderlisting-main-table input,
body.portaltype-topic #folderlisting-main-table table thead tr:first-child {
    display: none;
}

/* Event registration form submit buttons */

body.template-event_view div.event-registration,
body.template-extension_course_event_view  div.event-registration {
    margin-top:  0.375em;
}

form.event-registration input[type="submit"] {
    font-size: 1em;
    background-color: transparent;
    background-image: none;
    color: $contentLinkColor;
    border-bottom: 1px solid $globalBorderColor;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    border-width: 0 0 1px 0;
    font-weight: bold;
    margin: 0.75em 0 0 0;
    white-space: normal;
    text-align: left;
}

form.event-registration input[type="submit"]:hover {
    color: $contentLinkHoverColor;
    text-decoration: none;
    border-bottom: 1px solid $contentLinkColor;
}


form.event-registration-button input[type="submit"],
#content a.action-button {
    font-size: 1em;
    color: #FFFFFF;  /* UI */
    background-color: #8F2C00; /* UI */
    background-image: none;
    border: 1px solid #280C00; /* UI */
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em 3em;
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
    white-space: normal;
    text-align: center;
    float: none;
    clear: both;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#content a.action-button {
    display: inline-block;
    padding: 0.5em 1.5em;
}

body.template-file_view #addthis .order {
    display: none;
}

form.event-registration-button.leadimage input[type="submit"] {
    float: none;
}

/*
  Remove button padding in FF
  http://stackoverflow.com/questions/1679952/input-type-submit-text-vertical-alignment-in-firefox
*/

form.event-registration input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#kupu-editor-eventCanceledInfo iframe#kupu-editor-iframe-eventCanceledInfo,
#kupu-editor-free_registration_confirmation_message iframe#kupu-editor-iframe-free_registration_confirmation_message {
    height: 200px;
}

#content h2.form-separator {
    margin: 2.5em -0.5em 0.5em -0.5em;
    background-color: #2E4676; /* UI */
    border: 1px solid $globalBorderColor;
    padding: 0.25em 0.5em;
    font-size: 1.125em;
    font-weight: bold;
    font-family: $fontFamily;
    color: $globalBackgroundColor;
}

h1 span.register-header {
    display: block;
    font-size: 0.75em;
    margin: 0.25em -0.5em 0.5em -0.5em;
    background-color: $discreetColor;
    color: $contentBackgroundColor;
    padding: 0.5em 0.5em;
}

/* Handle exclude from nav in folder view */

#content .excludeFromNav {
    border: 1px dashed $globalBorderColor;
    background-color: $globalBackgroundColor;
    opacity: 0.80;
    padding: 0.5em !important;
}

div.excludeFromNav:before {
    content: "[Excluded from navigation, hidden from public folder listing]";
    color: $discreetColor;
    font-size: 0.875em;
    padding-bottom: 0.5em;
    display: block;
}

/* Listing after text rules */

body.listing-after-text #content .documentDescription {
    margin-bottom: 0.75em;
}

body.listing-after-text #content #content-text {
    margin-top: 1em;
}

input {
    background-image: none;
}

/* Registration Page */

body.template-register_fg_base_view_p3 #content .event-registration,
body.template-register_fg_base_view_p3 #content .event_when,
body.template-register_fg_base_view_p3 #content .event_where {
    margin-bottom: 0.375em;
}

body.template-register_fg_base_view_p3 #content .event-registration h3,
body.template-register_fg_base_view_p3 #content .event_when h3,
body.template-register_fg_base_view_p3 #content .event_where h3 {
    font-size: 1em;
    display: inline;
}

body.template-register_fg_base_view_p3 #content .event-registration h3:after,
body.template-register_fg_base_view_p3 #content .event_when h3:after,
body.template-register_fg_base_view_p3 #content .event_where h3:after {
    content: ":";
}

body.template-register_fg_base_view_p3 #addthis {
    display: none;
}

.zip_distance {
    color: $discreetColor;
    margin: 0.5em 0 0 0;
}

div.publication div,
div.publication-details div {
    margin-bottom: 0.25em;
}

body.template-file_view div.publication {
    margin-top: 0.75em;
}

/* Hide overlay on manage portlets pages */

body.template-manage-centercolumn #homepageimage,
body.template-manage-rightcolumn #homepageimage,
body.template-manage-portlets #homepageimage,
body.template-manage-portletsabovecontent #homepageimage,
body.template-manage-portletsbelowcontent #homepageimage {
    display: none;
}

body.template-manage-portlets #portal-column-one,
body.template-manage-portlets #portal-column-two {
    padding-top: 1em;
}

/* Body image max-width for logged in content images */

body.icons-on #parent-fieldname-text img, body.icons-on .kssattr-macro-rich-field-view img {
    max-width: 100%;
}

#portal-column-mobile {
    display: none;
}

#subject_existing_keywords {
    max-width: 18em;
}