/*# Automagically generated multi-column grid css for Plone */
/*# == Variables == */
/* - Logo * -*/
/* - Department (site) title width * -*/
/* - Department (site) title width * -*/
/* - Lead Image Width -*/
/* - Tile Image Width -*/
/* - Pull Quote Width - */
/* - Thumbnail Count - */
/* - Local Search Box - */
/* - Document Contributors - */
/* - Footer Portlets - */
/*# == Calculations == */
/*# -- Left and Right columns -- */
/* - Content Area - */
/* - Lead Image *- */
/* - Photo Album (Thumbnails) - */
/* - Pull Quote */
/* - Local Search Box -*/
/* A little fudging, since sizing for buttons is odd */
/* Border */
/* - Document Contributors - */
/* - Text edit boxes */
/* Footer Portlets */
/*
    Layout calculations for homepage 
*/
/* --------- Variables ---------- */
/* == No Left Column == */
/* Margin Percent */
/* Right Column */
/* For centercolumn without right column */
/* For centercolumn with right column */
/* == Has Left Column == */
/* Margin Percent */
/* Right Column */
/* For centercolumn without right column */
/* For centercolumn with right column */
/* == Feedmixer Images == */
/* Margins */
/* Text Margin */
/* Image Widths */
/* ============= addthis ================ */
#addthis {
  margin: 0.25em 0.25em 0.75em 0.75em;
  padding: 0; }

/* ============= leadimage ================ */
.contentLeadImageContainer {
  display: none; }

/*========= Hide byline and documentactions ============*/
.documentByLine, .documentActions {
  display: none; }

/*========= Content ============*/
#portal-column-content.s1 #content,
#content {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  border-width: 0; }

/*========= Editable ============*/
#portal-column-content .documentEditable {
  padding: 0 !important; }
  #portal-column-content .documentEditable #content {
    padding: 0.1875em 0 0 0 !important;
    border-width: 0; }
    #portal-column-content .documentEditable #content #homepage-base-edit {
      font-size: 0.84375em;
      margin: 0 0.25em; }
  #portal-column-content .documentEditable .contentActions {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #74AE0B; }

/*========= Homepage Text ============*/
#content #homepage-text {
  display: block;
  margin: 0;
  padding: 0.375em 0;
  width: 100%; }
  #content #homepage-text .documentFirstHeading {
    font-size: 1.6875em;
    margin-top: 0.1875em; }
  #content #homepage-text .documentDescription {
    margin-bottom: 0;
    font-size: 1.25em;
    color: #2F2F2F;
    margin-bottom: 0.75em; }
  #content #homepage-text .documentText {
    font-size: 0.875em; }

/* ================= Center column ===================== */
#centercolumn {
  width: 100%;
  display: block; }

#centercolumn.sr {
  float: left;
  width: 74.15966%;
  margin: 0 1.68067% 0 0; }

#portal-column-content.sl #centercolumn {
  display: block; }

#portal-column-content.sl #centercolumn.sr {
  float: left;
  margin: 0 2.26629% 0 0;
  width: 65.15581%; }

/* ================= Right Column =====================*/
#rightcolumn {
  display: block;
  margin: 0 0 0 1.68067%;
  font-weight: normal;
  background-color: transparent;
  color: #3F3F3F;
  width: 22.47899%;
  float: left;
  vertical-align: top; }

#portal-column-content.sl #rightcolumn {
  margin: 0 0 0 2.26629%;
  width: 30.31161%; }

/* ==================== Portlets ======================== */
/*
http://www.mikepadgett.com/technology/technical/alternative-to-the-pie-clearfix-hack/ - "Hack Free Approach"
*/
#centercolumn,
#rightcolumn {
  /* ================= Portlet headers ===================== */ }
  #centercolumn .portletHeader,
  #rightcolumn .portletHeader {
    font-size: 1.1875em !important; }
  #centercolumn .portletfeedmixer .portletItem,
  #rightcolumn .portletfeedmixer .portletItem {
    border-top: 1px dashed #E6E6E6;
    margin-top: 0.75em;
    padding-top: 0.75em; }
  #centercolumn .portletfeedmixer .portletItem:first-child,
  #rightcolumn .portletfeedmixer .portletItem:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0; }

#rightcolumn .portletfeedmixer .portletItem {
  border-top: none;
  margin-top: 0.5em;
  padding-top: 0.5em; }

#portal-column-content #centercolumn .portletfeedmixerimagefull .portletItem .rssImage,
#portal-column-content #centercolumn.sr .portletfeedmixerimagefull .portletItem .rssImage,
#portal-column-content.s0 #centercolumn .portletfeedmixerimagefull .portletItem .rssImage,
#portal-column-content.s0 #centercolumn.sr .portletfeedmixerimagefull .portletItem .rssImage,
#portal-column-content.s1 #centercolumn .portletfeedmixerimagefull .portletItem .rssImage,
#portal-column-content.s1 #centercolumn.sr .portletfeedmixerimagefull .portletItem .rssImage,
#portal-column-content.s2 #centercolumn .portletfeedmixerimagefull .portletItem .rssImage,
#portal-column-content.s2 #centercolumn.sr .portletfeedmixerimagefull .portletItem .rssImage {
  float: none;
  margin: 0 0 0.125em 0;
  width: 100%; }

#rightcolumn .portletfeedmixer .portletItem .rssImage {
  float: none;
  display: block;
  margin: 0.625em 0 0.625em 0;
  width: 100%;
  text-align: left; }
#rightcolumn .portletfeedmixerimagelarge .portletItem .rssImage {
  margin-bottom: 0.125em; }

#centercolumn .portletfeedmixer .rssImage {
  margin-top: 0;
  margin-bottom: 0.625em; }
  #centercolumn .portletfeedmixer .rssImage img {
    width: 100%;
    max-width: 100%; }
#centercolumn .portletfeedmixerimagesmall .rssImage {
  width: 16.80672%; }
#centercolumn .portletfeedmixerimagelarge .rssImage {
  width: 27.83613%; }
#centercolumn .portletfeedmixerimageleft .rssImage {
  margin-right: 1.68067%;
  float: left;
  text-align: left; }
#centercolumn .portletfeedmixerimageright .rssImage {
  margin-left: 1.68067%;
  float: right;
  text-align: right; }
#centercolumn .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem .title,
#centercolumn .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem .date,
#centercolumn .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem .summary {
  margin-left: 29.51681%; }
#centercolumn .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem .title,
#centercolumn .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem .date,
#centercolumn .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem .summary {
  margin-left: 18.48739%; }

#centercolumn.sr .portletfeedmixerimagesmall .rssImage {
  width: 22.66289%; }
#centercolumn.sr .portletfeedmixerimagelarge .rssImage {
  width: 37.53541%; }
#centercolumn.sr .portletfeedmixerimageleft .rssImage {
  margin-right: 2.26629%; }
#centercolumn.sr .portletfeedmixerimageright .rssImage {
  margin-left: 2.26629%; }
#centercolumn.sr .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem .title,
#centercolumn.sr .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem .date,
#centercolumn.sr .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem .summary {
  margin-left: 39.8017%; }
#centercolumn.sr .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem .title,
#centercolumn.sr .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem .date,
#centercolumn.sr .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem .summary {
  margin-left: 24.92918%; }

#portal-column-content.sl #centercolumn .portletfeedmixerimagesmall .rssImage {
  width: 22.66289%; }
#portal-column-content.sl #centercolumn .portletfeedmixerimagelarge .rssImage {
  width: 37.53541%; }
#portal-column-content.sl #centercolumn .portletfeedmixerimageleft .rssImage {
  margin-right: 2.26629%; }
#portal-column-content.sl #centercolumn .portletfeedmixerimageright .rssImage {
  margin-left: 2.26629%; }
#portal-column-content.sl #centercolumn .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem .title,
#portal-column-content.sl #centercolumn .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem .date,
#portal-column-content.sl #centercolumn .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem .summary {
  margin-left: 39.8017%; }
#portal-column-content.sl #centercolumn .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem .title,
#portal-column-content.sl #centercolumn .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem .date,
#portal-column-content.sl #centercolumn .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem .summary {
  margin-left: 24.92918%; }
#portal-column-content.sl #centercolumn.sr .portletfeedmixerimagesmall .rssImage {
  width: 34.78261%; }
#portal-column-content.sl #centercolumn.sr .portletfeedmixerimagelarge .rssImage {
  width: 57.6087%; }
#portal-column-content.sl #centercolumn.sr .portletfeedmixerimageleft .rssImage {
  margin-right: 3.47826%; }
#portal-column-content.sl #centercolumn.sr .portletfeedmixerimageright .rssImage {
  margin-left: 3.47826%; }
#portal-column-content.sl #centercolumn.sr .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem .title,
#portal-column-content.sl #centercolumn.sr .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem .date,
#portal-column-content.sl #centercolumn.sr .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem .summary {
  margin-left: 61.08696%; }
#portal-column-content.sl #centercolumn.sr .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem .title,
#portal-column-content.sl #centercolumn.sr .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem .date,
#portal-column-content.sl #centercolumn.sr .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem .summary {
  margin-left: 38.26087%; }

#centercolumn .portletfeedmixerimageleft .portletItem {
  border-style: none;
  margin: 0.25em 0 0.375em 0; }

#centercolumn .portletfeedmixer .portletItem .rssImage img {
  max-width: 100%;
  width: 100%; }

#centercolumn .portletfeedmixerimagelarge .portletItem .rssImage img {
  max-width: 100%;
  width: 100%; }

/* =================== Portlets =================== */
/* Hide managePortletsLink in homegrown portlets. */
#rightcolumn .managePortletsLink,
#homepageimage .managePortletsLink,
#centercolumn .managePortletsLink {
  display: none; }

#centercolumn .portletItem a.title {
  font-size: 1em; }

#rightcolumn .portletItem a.title,
#rightcolumn .portletItem li.navTreeItem {
  font-size: 0.84375em;
  padding: 0; }

#rightcolumn .portletItem li.navTreeItem a {
  margin: 0 0 1em 0;
  padding: 0; }

#rightcolumn .navTreeItem a:hover,
#rightcolumn dd.portletItem .navTreeItem a:hover {
  background-color: transparent; }

/* Hide Homepage Image on edit screen */
body.template-atct_edit #homepageimage {
  display: none; }

/* ================ Homepage Image ================ */
#homepageimage, .flexslider {
  display: block;
  margin: 0;
  width: 95%;
  text-align: left;
  padding: 1.25em 2.5% 0;
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center 1.25em;
  background-color: #FFFFFF; }

#portal-column-content.sl #homepageimage.nobreadcrumbs {
  margin-top: 0.1875em; }

/* =================== Portlets =================== */
#portal-column-two {
  display: none; }

#centercolumn .portletWrapper:first-child .portletHeader:first-child,
#rightcolumn .portletWrapper:first-child .portletHeader:first-child {
  margin-top: 0;
  padding-top: 0; }

/*# sourceMappingURL=common-homepage.css.map */
