@import 'variables';
@import 'layout';
@import 'homepage_layout';

/* ============= addthis ================ */

#addthis {
    margin: 0.25em 0.25em 0.75em 0.75em;
    padding: 0;

}

/* ============= leadimage ================ */

.contentLeadImageContainer {
    display: none;
}

/*========= Hide byline and documentactions ============*/

.documentByLine, .documentActions {
    display: none;
}

/*========= Content ============*/

#portal-column-content.s1 #content,
#content {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    border-width: 0;
}


/*========= Editable ============*/

#portal-column-content .documentEditable #content {
    padding: 0.1875em 0 0 0!important;
    border-width: 0;
}

.documentEditable  {
    padding: 0 !important;
}

.documentEditable .contentActions {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $contentViewBorderColor;
}

#portal-column-content .documentEditable #content #homepage-base-edit {
    font-size: 0.84375em;
    margin: 0 0.25em;
}

/*========= Homepage Text ============*/

#content #homepage-text {
    display: block;
    margin: 0;
    padding: 0.375em 0;
    width: 100%;

}

#content #homepage-text .documentFirstHeading {
    font-size: 1.6875em;
    margin-top: 0.1875em;
}

#content #homepage-text .documentDescription {
    margin-bottom: 0;
    font-size: 1.25em;
    color: $documentDescriptionColor;
    line-height: 1.375em;
    margin-bottom: 0.75em;
}

#content #homepage-text .documentText {
    font-size: 0.875em;
}

/* ================= Center column ===================== */
#centercolumn {
    width: 100%;
    display: block;
}

#centercolumn.sr {
    float: left;
    width: $centercolumn_sr_width_percent;
    margin: 0 $homepagecolumn_margin_percent 0 0;
}

#portal-column-content.sl #centercolumn {
    display: block;
}

#portal-column-content.sl #centercolumn.sr {
    float: left;
    margin: 0 $homepagecolumn_margin_percent_one 0 0;
    width: $centercolumn_sr_width_percent_one;
}

/* ================= Right Column =====================*/

#rightcolumn {
    display: block;
    margin: 0 0 0 $homepagecolumn_margin_percent;
    font-weight: normal;
    background-color: transparent;
    color: $rightPortletTextColor;
    width: $rightcolumn_width_percent;
    float: left;
    vertical-align: top;
}

#portal-column-content.sl #rightcolumn {
    margin: 0 0 0 $homepagecolumn_margin_percent_one;
    width: $rightcolumn_width_percent_one;
}

/* ================= Portlet headers ===================== */

#content #centercolumn .portletHeader,
#content #rightcolumn .portletHeader {
    font-size: 1.1875em !important;
}

/* ==================== Feedmixer ======================== */

/*
http://www.mikepadgett.com/technology/technical/alternative-to-the-pie-clearfix-hack/ - "Hack Free Approach"
*/

#content .portletfeedmixer .portletItem {
    border-top: 1px dashed $globalBorderColor;
    margin-top: 0.75em;
    padding-top: 0.75em;
}

#content .portletfeedmixer .portletItem:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

#rightcolumn .portletfeedmixer .portletItem .rssImage {
    float: none;
    display: block;
    margin: 0.625em 0 0.625em 0;
    width: 100%;
    text-align: left;
}

#rightcolumn .portletfeedmixerimagelarge .portletItem .rssImage {
    margin-bottom: 0.125em;
}

#rightcolumn .portletfeedmixerimagelarge .portletItem .rssImage img {
    width: 100%;
    max-width: 100%;
}

#centercolumn .portletfeedmixer .rssImage {
    margin-top: 0;
    margin-bottom: 0.625em;
}

#centercolumn .portletfeedmixerimagefull .portletItem .rssImage {
    margin: 0 0 0.125em 0;
    float: none;
}
/*###*/

.portletfeedmixerimagefull .rssImage {
    width: 100%;
}

#centercolumn {
    .portletfeedmixerimagesmall .rssImage {
        width: $homepage_feedmixer_image_small_width_percent_full;
    }
    
    .portletfeedmixerimagelarge .rssImage {
        width: $homepage_feedmixer_image_large_width_percent_full;
    }
    
    .portletfeedmixerimageleft .rssImage {
        margin-right: $homepage_feedmixer_image_margin_full;
        float: left;
        text-align: left;
    }

    .portletfeedmixerimageright .rssImage {
        margin-left: $homepage_feedmixer_image_margin_full;
        float: right;
        text-align: right;
    }
    
    .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem {
        .title,  
        .date,  
        .summary {
            margin-left: $homepage_feedmixer_image_large_margin_percent_full;
        }
    }
    .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem {
        .title,  
        .date,  
        .summary {
            margin-left: $homepage_feedmixer_image_small_margin_percent_full;
        }
    }
}

#centercolumn.sr {
    .portletfeedmixerimagesmall .rssImage {
        width: $homepage_sr_feedmixer_image_small_width_percent_full;
    }
    
    .portletfeedmixerimagelarge .rssImage {
        width: $homepage_sr_feedmixer_image_large_width_percent_full;
    }

    .portletfeedmixerimageleft .rssImage {
        margin-right: $homepage_sr_feedmixer_image_margin_full;
    }

    .portletfeedmixerimageright .rssImage {
        margin-left: $homepage_sr_feedmixer_image_margin_full;
    }

    .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem {
        .title,  
        .date,  
        .summary {
            margin-left: $homepage_sr_feedmixer_image_large_margin_percent_full;
        }
    }
    
    .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem {
        .title,  
        .date,  
        .summary {
            margin-left: $homepage_sr_feedmixer_image_small_margin_percent_full;
        }
    }
}

#portal-column-content.sl {
    #centercolumn {

        .portletfeedmixerimagesmall .rssImage {
            width: $homepage_feedmixer_image_small_width_percent_one;
        }
        
        .portletfeedmixerimagelarge .rssImage {
            width: $homepage_feedmixer_image_large_width_percent_one;
        }

        .portletfeedmixerimageleft .rssImage {
            margin-right: $homepage_feedmixer_image_margin_one;
        }
    
        .portletfeedmixerimageright .rssImage {
            margin-left: $homepage_feedmixer_image_margin_one;
        }

        .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem {
            .title,  
            .date,  
            .summary {
                margin-left: $homepage_feedmixer_image_large_margin_percent_one;
            }
        }
        .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem {
            .title,  
            .date,  
            .summary {
                margin-left: $homepage_feedmixer_image_small_margin_percent_one;
            }
        }

    }
    
    #centercolumn.sr {
        .portletfeedmixerimagesmall .rssImage {
            width: $homepage_sr_feedmixer_image_small_width_percent_one;
        }
        
        .portletfeedmixerimagelarge .rssImage {
            width: $homepage_sr_feedmixer_image_large_width_percent_one;
        }

        .portletfeedmixerimageleft .rssImage {
            margin-right: $homepage_sr_feedmixer_image_margin_one;
        }
    
        .portletfeedmixerimageright .rssImage {
            margin-left: $homepage_sr_feedmixer_image_margin_one;
        }

        .portletfeedmixerimageleft.portletfeedmixerimagelarge .portletItem {
            .title,  
            .date,  
            .summary {
                margin-left: $homepage_sr_feedmixer_image_large_margin_percent_one;
            }
        }
        .portletfeedmixerimageleft.portletfeedmixerimagesmall .portletItem {
            .title,  
            .date,  
            .summary {
                margin-left: $homepage_sr_feedmixer_image_small_margin_percent_one;
            }
        }

    }
}

#centercolumn .portletfeedmixerimageleft .portletItem {
    border-style: none;
    margin: 0.25em 0 0.375em 0;
}

#centercolumn .portletfeedmixer .portletItem .rssImage img {
    max-width: 100%;
    width: 100%;
}

#centercolumn .portletfeedmixerimagelarge .portletItem .rssImage img {
    max-width: 100%;
    width: 100%;
}

/* =================== Portlets =================== */

/* Hide managePortletsLink in homegrown portlets. */

#rightcolumn .managePortletsLink,
#homepageimage .managePortletsLink,
#centercolumn .managePortletsLink {
    display: none;
}

#centercolumn .portletItem a.title {
    font-size: 1em;
}

#rightcolumn .portletItem a.title,
#rightcolumn .portletItem li.navTreeItem {
    line-height: 1.25em;
    font-size: 0.84375em;
    padding: 0;
}

#rightcolumn .portletItem li.navTreeItem a {
    margin: 0 0 1em 0;
    padding: 0;
}

#rightcolumn .navTreeItem a:hover, 
#rightcolumn dd.portletItem .navTreeItem a:hover {
    background-color: transparent;
}

/* Hide Homepage Image on edit screen */

body.template-atct_edit #homepageimage {
    display: none;
}
