/*

Responsive Mobile Menu v1.0
Plugin URI: responsivemobilemenu.com

Author: Sergio Vitov
Author URI: http://xmacros.com

License: CC BY 3.0 http://creativecommons.org/licenses/by/3.0/

*/

/*  
    Modifications by trs22:

        * Removed background gradient images
        * Removed display: none
        * Removed Arial font
        * Removed graphite and sapphire styles
        * Updated menu width to 100%;
*/

.rmm-toggled {
	width:100%;
	/* position:relative; */
	overflow:hidden;
	margin:0 auto !important;
}

.rmm-button:hover {
	cursor:pointer;
}

.rmm .rmm-toggled {
	width:100%;
	min-height:36px;
}
.rmm .rmm-toggled-controls {
	display:block;
    font-size: 1em;
    font-size: 1rem;
	color:#333333;
	text-align:left;
/*	position:relative; */
	min-height: 2.25rem;
}
.rmm .rmm-toggled-title {
    top: 0.5em;
    left: 0.5em;
    position: relative;
	color:#333333;
	font-weight: 600;
	font-weight: 600;
	line-height: 1.25;
}
.rmm .rmm-button {
	display:block;
	float: right;
/*	position:absolute; */
    margin: 0.5em 0.5em 0 0;
}

.rmm .rmm-button span {
	display:block;
	margin:4px 0px 4px 0px;
	height:2px;
	background:#333333;
	width:25px;
}
