@charset "UTF-8";
/*
    Responsive Design CSS
*/
/* ------------------------------------------------ */
/* ------------------------------------------------ */
/*# Automagically generated multi-column grid css for Plone */
/*# == Variables == */
/* - Logo * -*/
/* - Department (site) title width * -*/
/* - Search Button width * -*/
/* - Lead Image Width -*/
/* - Tile Image Width -*/
/* - Pull Quote Width - */
/* - Thumbnail Count - */
/* - Local Search Box - */
/* - Document Contributors - */
/* - Footer Portlets - */
/*# == Calculations == */
/*# -- Left and Right columns -- */
/* - Content Area - */
/* - Lead Image *- */
/* - Pull Quote */
/* - Local Search Box -*/
/* A little fudging, since sizing for buttons is odd */
/* Border */
/* - Document Contributors - */
/* - Text edit boxes */
/* Footer Portlets */
/*
    Layout calculations for homepage 
*/
/* --------- Variables ---------- */
/* == No Left Column == */
/* Margin Percent */
/* Right Column */
/* For centercolumn without right column */
/* For centercolumn with right column */
/* == Has Left Column == */
/* Margin Percent */
/* Right Column */
/* For centercolumn without right column */
/* For centercolumn with right column */
/* == Feedmixer Images == */
/* Margins */
/* Text Margin */
/* Image Widths */
/*
    Flexslider
*/
/* 
    image sizes used for calculating proportions.  
    Oddball sizes result of legacy homepage design. 
    
    Will use proportions of standard homepage image size (700x265) upsized to
    950x360.
*/
/*------------------------- large-site.css ------------------------------*/
@media handheld, screen and (min-width: 960px) {
  body.custom-fullwidth #visual-portal-wrapper, body.custom-fullwidth #portal-header,
  body.custom-fullwidth #portal-personaltools-wrapper {
    max-width: 100%; }

  body.custom-fullwidth #content {
    width: auto;
    margin: 0 1.375em; } }
@media handheld, screen and (min-width: 769px) {
  /* Shrink department logo size */
  body.department-site {
    /* Color updates for department sites */ }
    body.department-site #logo-site {
      width: 28.125%; }
    body.department-site #portal-header {
      padding-top: 2em;
      padding-bottom: 2em; }
    body.department-site #portal-top {
      background-position: center top; }
    body.department-site .top-navigation {
      background-color: #45709F; }
      body.department-site .top-navigation ul li a {
        background-color: #45709F;
        border-color: #375A7F;
        color: #FFFFFF; }
      body.department-site .top-navigation ul li a:hover {
        background-color: #2C5C8F;
        color: #FFFDF1; }
      body.department-site .top-navigation ul li.alternate a,
      body.department-site .top-navigation ul li.alternate a:hover {
        background-color: #4C5E6F;
        color: #FFFFFF; }

  body.department-site-other #logo-department {
    padding-top: 1.25em; }
    body.department-site-other #logo-department a {
      font-size: 1.5em;
      font-weight: normal; }

  body.department-site-department #logo-department {
    padding-top: 1em; }
    body.department-site-department #logo-department a {
      font-size: 1.5em;
      font-weight: normal; }
      body.department-site-department #logo-department a span {
        font-size: 0.6875em;
        display: block; }

  body.department-site-department.department-name-style-one_line #logo-department {
    padding-top: 1.75em; }

  body.department-site-other.department-name-style-one_line #logo-department {
    padding-top: 2em; }
    body.department-site-other.department-name-style-one_line #logo-department a {
      font-size: 2em; }

  body.department-site-other.department-name-style-two_line #logo-department {
    padding-top: 1.5em; }

  /* Table of contents adjustments 768px */
  #document-toc.toc-full-width,
  #portal-column-content.sr #document-toc.full-width {
    width: auto !important;
    float: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0.375em 0 1.125em;
    font-size: 0.9375em; }

  #document-toc.toc-full-width h2.portletHeader,
  #portal-column-content.sr #document-toc.full-width h2.portletHeader {
    color: #000000;
    font-size: 1.25em; }

  /* Hide mobile menus above 768px */
  .rmm .rmm-toggled-controls {
    display: none !important; }

  #portal-column-mobile, #mobile-navigation {
    display: none !important; }

  #portal-searchbox .rmm-toggled {
    overflow: visible; }

  /* Make right column feedmixer images full-width in desktop view */
  #content #rightcolumn .portletfeedmixer .portletItem .rssImage {
    float: none;
    display: block;
    margin: 0.625em 0 0.625em 0;
    width: 100%;
    text-align: left; }
  #content #rightcolumn .portletfeedmixer .portletItem .title,
  #content #rightcolumn .portletfeedmixer .portletItem .date,
  #content #rightcolumn .portletfeedmixer .portletItem .summary {
    margin-left: 0; }
  #content #rightcolumn .portletfeedmixerimagelarge .portletItem .rssImage {
    margin-bottom: 0.125em; } }
/* Show mobile menus at 768px and smaller */
@media handheld, screen and (max-width: 768px) {
  .rmm {
    border: 1px solid #CCCCCC;
    /* UI */
    background-color: #F6F6F6; }

  .rmm-main {
    display: none; }

  #portal-column-one .portlet-mobile-navigation {
    display: block; }

  #mobile-navigation .portlet-mobile-navigation {
    display: none; }

  .rmm-toggled-controls {
    background-color: #E6E6E6;
    /* Not a border, but using for darker gray */ }

  .rmm-toggled {
    background-color: #F9F9F9; }

  .rmm-toggled.rmm-closed {
    padding-bottom: 0; }

  .rmm-closed .rmm-main-list {
    padding: 0 !important;
    position: absolute; }

  #logo-department {
    position: static;
    padding: 1em 2.17391%;
    margin: 1em -2.17391% 0; }

  #portal-top,
  #document-toc {
    padding-bottom: 0.25em;
    background-image: none; }
    #portal-top .rmm,
    #portal-top #portal-searchbox.rmm,
    #document-toc .rmm,
    #document-toc #portal-searchbox.rmm {
      margin: 1em 0 0;
      border: 1px solid #999999;
      width: 71.33152%; }
    #portal-top #portal-searchbox.rmm,
    #document-toc #portal-searchbox.rmm {
      width: 25.95109%; }
      #portal-top #portal-searchbox.rmm .rmm-main-list,
      #document-toc #portal-searchbox.rmm .rmm-main-list {
        padding: 0.25em 1.25em 1.5em;
        background-color: #F6F6F6;
        border: 1px solid #999999; }
        #portal-top #portal-searchbox.rmm .rmm-main-list .searchform #menu li #search,
        #document-toc #portal-searchbox.rmm .rmm-main-list .searchform #menu li #search {
          display: block;
          position: static;
          border: none;
          background-color: transparent;
          font-size: 1em;
          line-height: 1.625;
          margin: 0 0 1em; }
          #portal-top #portal-searchbox.rmm .rmm-main-list .searchform #menu li #search li,
          #document-toc #portal-searchbox.rmm .rmm-main-list .searchform #menu li #search li {
            border: none;
            margin: 0.25em 0;
            padding: 0; }
    #portal-top .rmm-main-list,
    #document-toc .rmm-main-list {
      position: absolute;
      left: 0;
      right: 0;
      border-top: 1px solid #999999;
      border-bottom: 1px solid #999999;
      background-color: #F6F6F6; }

  #portal-top .rmm-toggled > :not(.rmm-toggled-controls) {
    margin: 0;
    padding: 0;
    width: auto; }

  #portal-top .rmm > .rmm-closed > :not(.rmm-toggled-controls), #document-toc .rmm > .rmm-closed > :not(.rmm-toggled-controls) {
    border: none;
    display: block;
    height: 0.1em !important;
    margin: -10000em 0 0 -10000em !important;
    overflow: hidden;
    padding: 0 !important;
    width: 1px !important;
    border: none; }

  #portal-top-navigation.empty {
    clear: both; }

  #mobile-navigation .top-navigation.empty {
    display: none; }
  #mobile-navigation .rmm-main-list {
    /* font-size: 0.875em; */
    -webkit-box-shadow: 0 75px 40px 35px #FFFFFF;
    -moz-box-shadow: 0 75px 40px 35px #FFFFFF;
    box-shadow: 0 75px 40px 35px #FFFFFF; }
  #mobile-navigation .portletWrapper {
    font-size: 1em;
    margin-bottom: 0; }
  #mobile-navigation .top-navigation, #mobile-navigation .left-column-navigation {
    margin: 0;
    padding: 0; }
    #mobile-navigation .top-navigation li, #mobile-navigation .left-column-navigation li {
      font-size: 1em;
      margin: 0;
      padding: 0;
      background-color: #1F4B7B;
      display: block;
      border-top: 1px solid #45779F;
      color: #F6F6F6 !important;
      text-align: left;
      float: none; }
      #mobile-navigation .top-navigation li a, #mobile-navigation .left-column-navigation li a {
        font-size: 1em;
        text-align: left;
        margin: 0;
        padding: 1em 0.75em 1em 1.75em !important;
        border: none; }
    #mobile-navigation .top-navigation li:first-child, #mobile-navigation .left-column-navigation li:first-child {
      border-top: none; }
  #mobile-navigation .top-navigation h2 {
    font-size: 1.25em;
    font-weight: 600;
    padding: 0.5em;
    color: #F6F6F6;
    background-color: #1E2D4C; }
  #mobile-navigation .top-navigation li a {
    font-size: 0.875em; }
  #mobile-navigation .left-column-navigation .navTreeCurrentNode > a {
    font-weight: 600; }
  #mobile-navigation .left-column-navigation h2.portletHeader {
    padding: 0;
    background-color: #E6E6E6;
    margin: 0; }
    #mobile-navigation .left-column-navigation h2.portletHeader a, #mobile-navigation .left-column-navigation h2.portletHeader a:hover {
      display: block;
      font-size: 1em;
      font-weight: 600;
      padding: 0.5em;
      color: #1E2D4C; }
  #mobile-navigation .left-column-navigation .portlet {
    margin: 0; }
  #mobile-navigation .left-column-navigation .portletItem {
    margin: 0; }
    #mobile-navigation .left-column-navigation .portletItem li {
      border-top-color: #DDDDDD;
      background-color: #F9F9F9;
      color: #4D4D4D !important; }
      #mobile-navigation .left-column-navigation .portletItem li > a {
        display: block; }
  #mobile-navigation .left-column-navigation .portletNavigationTree .portletItem ul.navTreeLevel1 {
    border: none;
    margin: 0 1em 1em 1em;
    padding: 0;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    /* UI */ }
    #mobile-navigation .left-column-navigation .portletNavigationTree .portletItem ul.navTreeLevel1 > li {
      border: none;
      padding: 0;
      background-color: transparent; }
      #mobile-navigation .left-column-navigation .portletNavigationTree .portletItem ul.navTreeLevel1 > li > a {
        padding: 0.5em 0.75em;
        display: block; }

  #portal-header > #portal-searchbox {
    position: static;
    float: right; }

  #portal-header {
    padding-bottom: 0 !important; }

  /* Removing text from video player controls */
  #playlist-box .player-buttons a.button {
    text-align: center; }
    #playlist-box .player-buttons a.button span {
      position: absolute;
      margin-left: -10000px; }

  #now-playing a span {
    position: absolute;
    margin-left: -10000px; } }
/*------------------------ END large-site.css ----------------------------*/
/*------------------------- resolution-1032px.css ------------------------------*/
/* Full browser width */
@media handheld, screen and (max-width: 1032px) {
  #portal-header {
    max-width: 1016px; }

  #portal-header, .top-navigation {
    padding-left: 1.6%; }

  .top-navigation {
    padding-right: 1.6%; }

  #section-title {
    margin: 0.5em 0; }

  .top-navigation ul,
  #visual-portal-wrapper {
    min-width: 0;
    border: none; }

  .top-navigation li a {
    font-size: 0.8125em; }

  #portal-columns {
    padding: 1.5em 0 0 0;
    width: 100%; }

  img, embed, object {
    max-width: 100%; }

  embed, object, iframe {
    float: none;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0.25em 0; }

  #homepageimage {
    background-size: 100%;
    background-repeat: no-repeat; }

  .twtr-doc {
    width: auto !important; }

  /* Flexslider */
  #viewlet-above-content .flexslider .tileHeadline {
    font-size: 1.25em; }
  #viewlet-above-content .flexslider .tileBody p {
    font-size: 0.8125em; }
  #viewlet-above-content .flexslider .tileFooter a {
    font-size: 0.625em; } }
/*------------------------ END resolution-1032px.css ----------------------------*/
/*------------------------- resolution-768.css ------------------------------*/
@media handheld, screen and (max-width: 768px) {
  /*# == Calculations == */
  /*# -- Left and Right columns -- */
  /* - Content Area - */
  /* CSS */
  body {
    background-image: none;
    background-color: #FFFFFF; }

  #portal-header {
    margin: 0;
    padding: 1em 2.08333%; }

  #logo-site {
    width: 100%; }
    #logo-site img {
      width: auto;
      max-width: 100%;
      height: 60px; }

  #logo-department {
    width: auto; }

  #logo-department a {
    font-size: 0.9375em;
    width: auto; }

  #portal-breadcrumbs {
    margin-top: 0;
    padding: 0.75em 0 0; }

  #section-title {
    margin-left: 0;
    margin-right: 0; }

  #portal-header #portal-searchbox #search li ul {
    width: 100%; }

  #portal-column-content #content #rightcolumn,
  #portal-column-content #content #centercolumn,
  #portal-column-content #content #homepage-text,
  #portal-column-content #content #centercolumn.sr,
  #portal-column-content #content #homepage-text.sr {
    display: block;
    margin: 0 0 0.1875em 0;
    width: 100%;
    clear: both;
    float: none;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0; }

  #portal-column-one {
    border: none;
    background-image: none; }

  #content #rightcolumn .portletItem a.title, #content #rightcolumn .portletItem li.navTreeItem {
    font-size: 1em; }

  .left-column-navigation .portletHeader a {
    font-size: 1.1875em; }
  .left-column-navigation .portletHeader .icon {
    width: 1.75em;
    float: right;
    margin-left: 0.25em; }
  .left-column-navigation .portletNavigationSubHeader .icon {
    width: 1.375em;
    float: right;
    margin-left: 0.25em; }

  #portal-column-two {
    border: none; }

  #portal-column-two,
  #portal-column-content,
  #portal-column-content.sl,
  #portal-column-content.sr,
  #portal-column-content.sl.sr {
    float: left;
    margin: 0 3.07692%;
    width: 93.84615%;
    padding: 0;
    display: block;
    background-color: transparent; }

  #portal-column-content.s0 {
    margin: 0 2.27273%;
    width: 95.45455%; }

  #portal-column-two .portletFooter {
    background-color: transparent; }

  #portal-column-content #content {
    margin: 0.5em 0 0.5em 0 !important;
    padding: 0 !important;
    width: 100% !important; }

  #panorama-homepage-image {
    display: none !important; }

  #homepageimage embed {
    display: none; }

  #portal-column-content #homepageimage {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
    background-size: 100% auto;
    background-color: #FFFFFF; }

  #portlets-footer .FooterPortletManager {
    width: 43.75%;
    float: left;
    padding: 0.5em 2.08333%; }

  #portlets-footer > div:nth-child(2n + 1) {
    clear: left; }

  #portal-top {
    background-position: left top; }

  #portal-top, #portal-columns, #portlets-footer {
    border: none;
    width: 100%; }

  #content #portlets-footer {
    background-color: transparent; }

  body #portal-footer,
  body #portlets-footer-wrapper {
    width: auto; }

  #portal-columns {
    padding-top: 0.25em; }

  #mobile-navigation .portletWrapper {
    padding: 1em 0; }
    #mobile-navigation .portletWrapper .portletHeader {
      margin: 0 0.5em; }
    #mobile-navigation .portletWrapper .portlet {
      margin: 0 1em; }
    #mobile-navigation .portletWrapper .portletLinkButton .portletItem a {
      border: 1px solid #999999; }
  #mobile-navigation .portletWrapper:first-child {
    padding-top: 0; }

  #homepageimage .text, #homepageimage div.overlay {
    display: none !important; }

  #content #rightcolumn .portletfeedmixer .portletItem .rssImage {
    margin-right: 0.625em; }

  #two-column-left, #two-column-right,
  #portal-column-content.sr #two-column-left, #portal-column-content.sr #two-column-right {
    border: none;
    padding: 0;
    margin: 0;
    float: none;
    width: 100%; }

  /* General nomobile override */
  .nomobile {
    display: none; }

  .portletDropdown select {
    max-width: 100%;
    width: auto; }

  #visual-portal-wrapper {
    margin: 0 2.08333%;
    padding: 0; }

  #centercolumn .portletWrapper {
    margin: 0 0 1em 0; }

  /* = Adjust visual-portal-wrapper and portal-top for no top nav = */
  body.empty-top-navigation #visual-portal-wrapper {
    margin-top: 0; }

  body.empty-top-navigation #portal-top {
    padding-bottom: 0; }

  #viewlet-above-content #homepageimage {
    padding: 0;
    width: 100%;
    background-size: 100%;
    margin-bottom: 1em; }

  /* 
      Flexslider 
      
        * actual width and height values from _homepage_layout.scss
  */
  #viewlet-above-content .flexslider {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0; }
    #viewlet-above-content .flexslider .contentLeadImageContainer {
      float: none;
      width: 100%;
      max-width: 100%; }
      #viewlet-above-content .flexslider .contentLeadImageContainer img {
        float: none;
        max-height: 394.70442px; }
    #viewlet-above-content .flexslider .slides {
      padding-bottom: 0.5em; }
    #viewlet-above-content .flexslider .flex-control-nav {
      width: auto;
      left: auto;
      right: 1em;
      bottom: 1em; }
    #viewlet-above-content .flexslider .flexslider-text {
      margin: 0 1em;
      padding: 0;
      width: auto; }
    #viewlet-above-content .flexslider .tileHeadline {
      margin-top: 0.5em; }
    #viewlet-above-content .flexslider .tileFooter {
      margin-bottom: 0.5em; }
    #viewlet-above-content .flexslider .flex-direction-nav li a {
      top: 31.2502%; }
    #viewlet-above-content .flexslider .flex-direction-nav li .next {
      right: 1.04167%; }
    #viewlet-above-content .flexslider .flex-direction-nav li .prev {
      left: 1.04167%; }

  #content .searchResults .contenttype-fsdperson .searchLeadImageContainer .tileImage {
    width: 100%;
    height: auto; }

  #portal-column-content.sl.sr .documentContributors .contentLeadImageContainer {
    height: 85px; }

  .documentActions {
    display: none; }

  #portal-column-one .portletfeedmixerlarge .rssImage img,
  #portal-column-two .portletfeedmixerlarge .rssImage img {
    max-width: 100%;
    width: auto; }

  body.homepage-portlet-format-tile #portal-column-content.s0 #content #homepage-text.sc {
    margin-top: 0; }

  /* photogallery resize for 768px (559px image) */
  .rg-image {
    height: 373px; }

  .rg-image-nav a {
    background-position: 0 35.9971%; }

  .rg-image-nav a.rg-image-nav-next {
    background-position: 100% 35.9971%; }

  /* - Thumbnail Count - */
  /* - Photo Album (Thumbnails) - */
  #content .photoAlbumEntry {
    margin: 0 2.27273%;
    width: 28.78788%; } }
/*------------------------ END resolution-768.css ----------------------------*/
/*------------------------- resolution-520-portrait.css ------------------------------*/
@media handheld, screen and (max-width: 520px) and (orientation: portrait) {
  /* Nothing here */ }
/*------------------------ END resolution-520-portrait.css ----------------------------*/
/*------------------------- resolution-520-landscape.css ------------------------------*/
@media handheld, screen and (max-width: 520px) and (orientation: landscape) {
  /* Photo Gallery */
  html {
    height: 100%; }

  body.template-responsive_photogallery,
  body.template-responsive_photogallery #visual-portal-wrapper,
  body.template-responsive_photogallery #content,
  body.template-responsive_photogallery #content-core,
  body.template-responsive_photogallery #portal-columns,
  body.template-responsive_photogallery #portal-column-content,
  body.template-responsive_photogallery #portal-column-content.sl,
  body.template-responsive_photogallery #portal-column-content.sr,
  body.template-responsive_photogallery #portal-column-content.sl.sr,
  body.template-responsive_photogallery #portal-column-content #content,
  body.template-responsive_photogallery #rg-gallery {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #333333;
    /* UI */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%; }

  body.template-responsive_photogallery #content {
    padding-bottom: 0 !important; }

  body.template-responsive_photogallery #portal-top,
  body.template-responsive_photogallery #clear-space-before-wrapper-table,
  body.template-responsive_photogallery #portal-column-one,
  body.template-responsive_photogallery #portal-column-two,
  body.template-responsive_photogallery #viewlet-above-content,
  body.template-responsive_photogallery #portal-top,
  body.template-responsive_photogallery #portal-top,
  body.template-responsive_photogallery #clear-space-before-footer,
  body.template-responsive_photogallery #portal-footer,
  body.template-responsive_photogallery #portlets-footer,
  body.template-responsive_photogallery #content .documentDescription,
  body.template-responsive_photogallery #content #content-text,
  body.template-responsive_photogallery #portal-localsearchbox {
    display: none; }

  body.template-responsive_photogallery .fancybox-wrap {
    top: 0 !important; }

  body.template-responsive_photogallery #portal-column-content #content {
    margin: 0 !important; }

  body.template-responsive_photogallery .social-media {
    display: none !important; }

  body.template-responsive_photogallery #content a {
    border: none; }

  body.template-responsive_photogallery #content h1,
  body.template-responsive_photogallery #content h1.documentFirstHeading {
    color: #FFFFFF;
    background-color: #000000;
    font-size: 0.9375em;
    padding: 0.25em 0.5em;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 10;
    opacity: 0.75; }

  #content .rg-image-wrapper {
    padding: 0;
    margin: 0;
    width: auto;
    height: 100%; }

  #content .rg-thumbs {
    display: none; }

  #content .rg-caption-wrapper {
    background-color: #000000;
    padding: 0.25em 0.5em 0.5em 0.5em;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: auto;
    height: auto;
    opacity: 0.75; }

  #content .rg-caption-wrapper .rg-caption {
    margin-top: 0; }

  #content .rg-caption-wrapper .rg-caption h2,
  #content .rg-caption-wrapper .rg-caption h2.description {
    font-size: 0.875em !important;
    font-weight: normal !important;
    border-bottom: none !important;
    margin-top: 0;
    background-color: transparent !important;
    color: #FFFFFF !important; }

  #content .rg-caption p {
    background-color: transparent;
    font-size: 0.875em;
    color: #f9f9f9 !important;
    /* UI */ }

  #content .rg-image {
    height: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%; }

  #content .rg-image-nav a {
    background-color: transparent;
    opacity: 0.66;
    background-position: -20% 45%;
    width: 6%; }

  #content .rg-image-nav a.rg-image-nav-next {
    background-position: 115% 45%; } }
/*------------------------ END resolution-520-landscape.css ----------------------------*/
/*------------------------- resolution-520.css ------------------------------*/
@media handheld, screen and (max-width: 520px) {
  body:not(.navigation-mobile) #portal-column-one .portlet-mobile-navigation {
    display: none; }

  #mobile-navigation .portlet-mobile-navigation {
    display: block; }

  #portal-breadcrumbs {
    display: none; }

  #section-title {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #E6E6E6;
    font-size: 1.5em; }
    #section-title a, #section-title a:hover {
      border-bottom: none; }

  body.portaltype-homepage #section-title {
    display: none; }
  body.portaltype-homepage #portal-column-one .left-column-navigation .hiddenStructure {
    position: static;
    width: auto;
    margin: 0 !important;
    height: auto; }

  body.navigation-mobile #section-title {
    margin-bottom: 0;
    border: 1px solid #DDDDDD;
    border-bottom: none;
    padding: 0.5em 2% 0.375em;
    font-size: 1.25em;
    background-color: #E6E6E6; }
    body.navigation-mobile #section-title a, body.navigation-mobile #section-title a:hover {
      border: none;
      color: #1E2D4C; }
  body.navigation-mobile .left-column-navigation {
    border-top: 1px solid #DDDDDD; }
    body.navigation-mobile .left-column-navigation .portletHeader {
      border: 1px solid #DDDDDD;
      border-bottom: none;
      padding: 0.5em 2% 0.5em;
      font-size: 1.125em;
      background-color: #E6E6E6; }
    body.navigation-mobile .left-column-navigation .portletNavigationTree .portletItem {
      margin-top: 0; }
      body.navigation-mobile .left-column-navigation .portletNavigationTree .portletItem ul.navTreeLevel0 > li {
        border: 1px solid #DDDDDD;
        border-top: none;
        font-size: 1.125em;
        padding: 0.375em 2% 0.375em 1.5em;
        background-color: #F6F6F6; }
  body.navigation-mobile #portal-columns {
    padding-top: 0; }

  /* Document Table of Contents */
  #portal-column-content.sr #content #document-toc,
  #portal-column-content.sr #content #document-toc.full-width,
  #document-toc {
    padding: 0;
    width: 100%;
    margin: 0.25em 0 1em 0;
    background-color: #F9F9F9; }

  #document-toc h2.portletHeader {
    display: none; }
  #document-toc .portlet {
    font-size: 1.25em; }
  #document-toc .portletItem li {
    margin-top: 0.75em;
    margin-bottom: 0.25em; }

  .left-column-navigation .portletNavigationTree .portletItem .rmm-toggled > ul {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #FFFFFF; }

  #panorama-homepage-image, #image-header {
    display: none !important; }

  #portal-columns {
    display: block; }

  body.portaltype-homepage #portal-column-two,
  body.portaltype-homepage #portal-column-content,
  #portal-column-mobile,
  #portal-column-one,
  #portal-column-two,
  #portal-column-content,
  #portal-column-content.sl,
  #portal-column-content.sr,
  #portal-column-content.sl.sr {
    float: none;
    margin: 0;
    padding: 0;
    display: block !important;
    border: none;
    width: 100%; }

  #portal-column-one .imagePortlet img,
  #portal-column-one .imagePortlet span,
  #portal-column-two .imagePortlet img,
  #portal-column-two .imagePortlet span {
    margin: 0;
    text-align: left; }

  #portal-column-one .portletWrapper {
    margin: 0;
    width: 100%; }

  #portal-column-one .portletWrapper:not(.portlet-mobile-navigation) {
    display: none; }

  #portal-top .left-column-navigation .portletNavigationSubHeader {
    padding: 0.5em 0.375em;
    background-color: #f5f5f5;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    border-bottom: none; }
    #portal-top .left-column-navigation .portletNavigationSubHeader a {
      font-size: 0.875em; }
  #portal-top .left-column-navigation .portletHeader.active {
    margin: 0.25em 0 0 0; }
  #portal-top .left-column-navigation .portletNavigationTree {
    margin: 0;
    display: block; }
    #portal-top .left-column-navigation .portletNavigationTree .portletItem li {
      border-top: 1px solid #E6E6E6;
      border-bottom: none;
      margin: 0;
      padding: 0;
      background-color: #F6F6F6; }
      #portal-top .left-column-navigation .portletNavigationTree .portletItem li a {
        margin: 0; }
    #portal-top .left-column-navigation .portletNavigationTree .portletItem li:first-child {
      border-top: none; }

  body.navigation-subsite .left-column-navigation .portletNavigationSubHeader {
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
    margin-top: 0.5625em; }

  body.template-folder_listing_z3 #content .tileItemLeadImage .contentLeadImageContainer img,
  body.template-folder_listing_z3 #content .tileItemLeadImage .contentLeadImageContainer img.tileImage {
    float: left; }

  #content .tileItemLeadImage .contentLeadImageContainer {
    max-width: 35%; }

  .contentLeadImageContainer img,
  .contentLeadImageContainer p.discreet {
    margin-left: 0;
    padding-left: 0;
    width: auto; }
  .contentLeadImageContainer img {
    width: 100%; }

  #portal-footer {
    text-align: left;
    padding: 0.5em 3.07692%;
    width: 93.84615%; }
    #portal-footer p {
      padding: 0; }
    #portal-footer .footerLinks a {
      display: block;
      padding: 0.375em 0; }
    #portal-footer .footerLinks .footerSeparator {
      display: none; }

  #portal-column-one .portletItem.rmm {
    border: 1px solid #DDDDDD; }

  .LSBox {
    display: block;
    text-align: left;
    float: none;
    padding: 0;
    margin: 0; }

  .LSResult {
    display: none; }

  #portal-column-content #content {
    margin-top: 1.25em; }

  #portal-column-content.sl #content {
    margin-top: 0.5em; }

  #content #addthis {
    display: none; }

  #portal-column-one .portletLinkButton,
  #portal-column-two .portletLinkButton,
  #portal-column-mobile .portletLinkButton,
  #rightcolumn .portletLinkButton {
    margin: 1.25em 0; }
  #portal-column-one .portletLinkButton .portletItem img,
  #portal-column-two .portletLinkButton .portletItem img,
  #portal-column-mobile .portletLinkButton .portletItem img,
  #rightcolumn .portletLinkButton .portletItem img {
    width: auto;
    max-width: 100%; }

  /* Bump down headings and description */
  #content h1, #content h1.documentFirstHeading {
    font-size: 1.75em; }

  #content h2, html.kupu-html h2 {
    font-size: 1.4375em; }

  #content h3, html.kupu-html h3,
  body.custom-h2-as-h3 #content-text .documentText h2,
  body.custom-h2-as-h3 #content-core .documentText h2,
  body.custom-h2-as-h3 #homepage-text .documentText h2,
  body.template-person_view #content h2,
  body.template-by_county_listing.custom-two-column #content h2 {
    font-size: 1.09375em; }

  #content h4, html.kupu-html h4,
  #content h5, html.kupu-html h5 {
    font-size: 1.03125em; }

  #content .documentDescription {
    font-size: 1.125em; }

  #portal-column-content.sr .portletHeader,
  #document-toc .portletHeader,
  #document-toc.full-width .portletHeader {
    background-position: 98% center;
    background-repeat: no-repeat;
    background-size: auto 100%; }

  /* Creamery nutrition facts table */
  table.nutrition {
    float: none;
    clear: both;
    margin: 1em auto;
    width: 75%; }

  #commenting span {
    margin: 1.5em 0 0.5em 0; }

  .fancybox-close {
    display: none; }

  #content .pullquote, #content .callout {
    display: block;
    float: none;
    clear: both;
    width: 94%;
    margin: 1em 0 !important;
    padding: 0.75em 3%; }

  #content .pullquote img {
    max-width: 100%; }

  #portal-column-one .portletLinkButton img,
  #portal-column-two .portletLinkButton img,
  #rightcolumn .portletLinkButton img {
    width: auto;
    display: block;
    max-width: 100%; }

  #portal-column-one .portletLinkButton a,
  #portal-column-two .portletLinkButton .portletItem a,
  #portal-column-one .portletLinkButton a:hover,
  #portal-column-two .portletLinkButton .portletItem a:hover,
  #rightcolumn .portletLinkButton .portletItem a,
  #rightcolumn .portletLinkButton .portletItem a:hover {
    font-size: 1.0625em;
    padding: 0.5em 3.07692%;
    width: 93.84615%; }

  #portal-column-content.sl #centercolumn .portletfeedmixerimageleft .portletItem .title,
  #portal-column-content.sl #centercolumn .portletfeedmixerimageleft .portletItem .date,
  #portal-column-content.sl #centercolumn .portletfeedmixerimageleft .portletItem .summary,
  #centercolumn .portletfeedmixerimageleft .portletItem .title,
  #centercolumn .portletfeedmixerimageleft .portletItem .date,
  #centercolumn .portletfeedmixerimageleft .portletItem .summary {
    margin-left: 0; }

  #content #homepage-text.sc {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }

  .fancybox-wrap {
    position: absolute !important;
    top: 15px !important; }

  .documentContributors .contentLeadImageContainer {
    display: none; }

  #content .documentContributors .tileHeadline,
  .documentContributors .facultyStaffDirectory {
    margin-left: 0; }

  /* Responsive tables */
  table.responsive {
    border-collapse: collapse;
    width: 100%;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 1px 0 0 0;
    font-size: 85%;
    margin: 1em 0;
    padding: 0; }

  #content table.responsive th {
    text-align: left;
    vertical-align: bottom;
    padding: 0; }

  #content table.responsive td {
    vertical-align: top;
    border: none;
    padding: 0; }

  table.responsive th:nth-child(1),
  table.responsive td:nth-child(1) {
    text-align: left; }

  table.responsive,
  table.responsive tbody {
    display: block;
    width: 100%; }

  table.responsive thead {
    margin: -1px 0 0 -10000px !important;
    padding: 0 !important;
    position: absolute; }

  table.responsive tr,
  table.responsive th,
  table.responsive td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal; }

  table.responsive tr {
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1em; }

  table.responsive th[data-title]:before,
  table.responsive td[data-title]:before {
    content: attr(data-title) ": ";
    font-weight: 600; }

  table.responsive td:empty {
    display: none; }

  /* Zap all feedmixer images from tile homepage */
  body.template-tile_homepage_view #portlets-above .portletWrapper .feedmixerCollectionLeadImage {
    display: none !important; }

  body.template-tile_homepage_view #portlets-above .portletItem {
    border-top: 1px dashed #EEEEEE;
    padding-top: 0.5em;
    margin-bottom: 0.5em; }

  body.template-tile_homepage_view #portlets-above .portletfeedmixer .portletItem .summary {
    margin-top: 0.25em; }

  #portal-column-content #content .portletPerson .portletItem a.imagelarge img.photo {
    max-width: 75px;
    margin-left: 5px; }

  /* photogallery resize for 520px (505px image) */
  .rg-image {
    height: 337px; }

  .rg-image-nav a {
    background-position: 0 34.6691%; }

  .rg-image-nav a.rg-image-nav-next {
    background-position: 100% 34.6691%; }

  #viewlet-above-content .flexslider {
    margin: 1em 0; }
    #viewlet-above-content .flexslider .flexslider-text {
      padding: 0 0 0.5em 0; } }
/*------------------------ END resolution-520.css ----------------------------*/
/*------------------------- resolution-480.css ------------------------------*/
@media handheld, screen and (max-width: 480px) {
  #portlets-footer .FooterPortletManager {
    width: 93.33333%;
    float: left;
    padding: 0.5em 3.33333%; }

  #content .contentLeadImageContainer {
    margin-left: 0;
    max-width: 100%;
    float: none; }

  #content .tileItemLeadImage .contentLeadImageContainer,
  #content .tileSummaryLeadImage .contentLeadImageContainer {
    max-width: 37%;
    margin-left: 1%;
    float: right;
    width: auto; }
  #content .tileFooter {
    display: none; }
  #content .tileItemContainer .tilePortletManager .portletPerson .portletItem .person-image {
    float: right; }
  #content .searchResults .contenttype-fsdperson .searchLeadImageContainer {
    display: none; }
  #content .searchResults .contenttype-fsdperson,
  #content .searchResults .contenttype-fsdperson {
    padding-left: 0; }

  #centercolumn .portletStaticText .portletItem img {
    display: block;
    float: none;
    clear: both;
    max-width: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto; }

  form.event-registration-button input[type="submit"] {
    float: none;
    display: block;
    margin: 0.5em 0 1em 0; }

  /* photogallery resize for 480px (431px image) */
  .rg-image {
    height: 287px; }

  .rg-image-nav a {
    background-position: 12.5% 32.3580%;
    width: 55px; }

  .rg-image-nav a.rg-image-nav-next {
    background-position: 87.5% 32.3580%; }

  /* Flexslider */
  #viewlet-above-content .flexslider .flex-direction-nav li a {
    top: 26.89176%; } }
/*------------------------ END resolution-480.css ----------------------------*/
/*------------------------- resolution-360.css ------------------------------*/
@media handheld, screen and (max-width: 360px) {
  #logo-site {
    width: 100%; }
    #logo-site img {
      width: 100%;
      height: auto; }

  /* Hide "Search" text for button */
  #portal-searchbox.rmm .rmm-toggled-controls {
    text-align: center; }
  #portal-searchbox.rmm .rmm-toggled-title {
    position: absolute;
    height: 0.1em !important;
    margin: -10000em 0 0 -10000em !important;
    overflow: hidden;
    padding: 0 !important;
    width: 1px !important;
    border: none; }
  #portal-searchbox.rmm .rmm-button {
    display: inline-block;
    float: none;
    margin-right: 0;
    z-index: -1; }
  #portal-searchbox.rmm img {
    width: auto; }

  #viewlet-above-content .flexslider .flex-direction-nav li a {
    top: 23.714%; }

  /* - Thumbnail Count - */
  /* - Photo Album (Thumbnails) - */
  #content .photoAlbumEntry {
    margin: 0 1.68067%;
    width: 46.63866%; } }
/*------------------------ END resolution-360.css ----------------------------*/
/*------------------------- resolution-320.css ------------------------------*/
@media handheld, screen and (max-width: 320px) {
  #content .portletfeedmixerimageleft .portletItem .rssImage,
  #content .portletfeedmixerimagelarge .portletItem .rssImage,
  #content .portletfeedmixerimageright .portletItem .rssImage,
  #content .portletfeedmixer .portletItem .rssImage {
    width: 33%; }

  #content .portletfeedmixer .portletItem .rssImage img {
    max-width: 100% !important; }

  #content .facultyStaffDirectory.personView .headshot {
    float: none;
    text-align: center;
    margin: 0 0 1em 0 !important; }

  #logo-department img {
    width: 175px; }

  /* Flexslider */
  #viewlet-above-content .flex-direction-nav li a {
    top: 75px; }

  /* photogallery resize for 320px (282px image) */
  .rg-image {
    height: 197px; }

  .rg-image-nav a {
    background-position: 12.5% 24.8356%; }

  .rg-image-nav a.rg-image-nav-next {
    background-position: 87.5% 24.8356%; }

  #content .rg-thumbs {
    display: none; }

  .rg-caption-wrapper {
    padding: 0.6875em 0.5em 0.75em;
    height: 7.5em; }

  #content .rg-caption {
    font-size: 0.875em; } }
/*------------------------ END resolution-320.css ----------------------------*/
/*------------------------- resolution-200.css ------------------------------*/
@media handheld, screen and (max-width: 200px) {
  /* Flexslider */
  #viewlet-above-content .flex-direction-nav li a {
    top: 50px; } }
/*------------------------ END resolution-200.css ----------------------------*/

/*# sourceMappingURL=responsive.css.map */
